﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="LogXml.aspx.cs" Inherits="Sunlight.Silverlight.Web.LogXml" %>
<%Response.Write(WriteXml(Request.Params["type"], Request.Params["logInfoId"], Request.Params["logDetailId"])); %>