﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="index.aspx.cs" Inherits="Sunlight.Silverlight.Web.index" %>

<%
    String path = Page.Server.MapPath("/");
%>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<object style='display:none' classid='clsid:F83BA1B9-D31F-442B-AE32-85F06ACD66FE' codebase='FotonActive.ocx' id='Ctrl'></object>
<script language='JavaScript'>
    function $(obj) {
        return document.getElementById(obj);
    }
    function pop(obj) {
        var h = parseInt($("popDiv").currentStyle.height);
        $("popDiv").style.height = (h + obj) + "px";
        if (parseInt($("popDiv").style.height) < 2) {
            window.clearInterval(timer);
            $("popDiv").style.display = "none";
        }
        if (parseInt($("popDiv").style.height) >= 200) {
            window.clearInterval(timer);
        }

    }

    var timer;
    function runtimer(obj) {
        timer = window.setInterval(function () { pop(obj) }, 10);
    }
    window.onload = function () {
        //runtimer(2);
    }

    /*管理工具下载*/
    function downTool() {
        var elemIF = document.createElement("iframe");
        elemIF.src = "Client/三未信安USBKey管理工具v3.1.exe.zip";
        elemIF.style.display = "none";
        document.body.appendChild(elemIF);
    }
    function downCert() {
        var elemIF = document.createElement("iframe");
        elemIF.src = "Client/Cert.cer";
        elemIF.style.display = "none";
        document.body.appendChild(elemIF);
    }

    /*倒计时*/
    var timei = 3;
    function settime() {
        if (timei > 0) {
            timei--;
            document.getElementById('timess').innerHTML = timei;
        } else {
            document.getElementById('timess').innerHTML = 0;
        }
    }
    /*U盾使用说明页面*/
    function usbkey(url, name, iWidth, iHeight) {
        var url;
        var name;
        var iWidth;
        var iHeight;
        var iTop = 40;
        var iLeft = 120;
        window.open(url, name, 'height=' + iHeight + ',innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',status=no,toolbar=no,menubar=no,location=no,resizable=no,scrollbars=0,titlebar=no');
    }
    /*证书使用说明页面*/
    function zhengshu(url, name, iWidth, iHeight) {
        var url;
        var name;
        var iWidth;
        var iHeight;
        var iTop = 40;
        var iLeft = 120;
        window.open(url, name, 'height=' + iHeight + ',innerHeight=' + iHeight + ',width=' + iWidth + ',innerWidth=' + iWidth + ',top=' + iTop + ',left=' + iLeft + ',status=no,toolbar=no,menubar=no,location=no,resizable=no,scrollbars=0,titlebar=no');
    }

    /*单击确定,依据参数跳转*/
    var a = '';
    function tim() {
        if (a == 1) {
            window.location.replace("https://spmsex.foton.com.cn/index.htm");;
        } else if (a == 0) {        
            window.location.replace("https://spmsex.foton.com.cn/index.htm");
        }
    }
    /*U盾入口*/
    function jsconfim() {
        a = 1;
        var bExist = Ctrl.FotonActive_CheckUSBKey();
        if (bExist == false) {
            alert('USBKey 不存在,请确认插入');
            return false;
        } else {
            var bMAC = Ctrl.FotonActive_CheckMAC();
            if (bMAC == false) {
                alert('MAC值不匹配');
                return false;
            } else {
                document.getElementById('button1').style.display = 'block';
                var orgName = Ctrl.FotonActive_GetOrgName();
                var userName = Ctrl.FotonActive_GetUserName();
                document.getElementById('orgName1').innerHTML = orgName;
                document.getElementById('orgName1').style.display = 'block';
                document.getElementById('userName1').innerHTML = userName;
                document.getElementById('userName1').style.display = 'block';
                setInterval("settime()", 1000);
                setTimeout('tim()', 4000);
            }
        }
    }

    /*证书入口*/
    function soft() {
        a = 0;
        if (document.all.Ctrl.object != null) {
            var zMAC = Ctrl.FotonActive_CheckMAC_Soft();
            if (zMAC == false) {
                alert('MAC值不匹配');
                return false;
            } else {
                document.getElementById('button1').style.display = 'block';
                var orgName = Ctrl.FotonActive_GetOrgName();
                var userName = Ctrl.FotonActive_GetUserName();
                document.getElementById('orgName1').innerHTML = orgName;
                document.getElementById('orgName1').style.display = 'block';
                document.getElementById('userName1').innerHTML = userName;
                document.getElementById('userName1').style.display = 'block';
                setInterval("settime()", 1000);
                setTimeout('tim()', 4000);
            }
        } else {
            alert("请先下载'三未信安USBKey管理工具v3.1'");
        }
    }
</script>
<title>福田汽车CA认证系统</title><meta http-equiv='pragma' content='no-cache'><meta http-equiv='cache-control' content='no-cache'><meta http-equiv='expires' content='0'>
<meta http-equiv='keywords' content='keyword1,keyword2,keyword3'><meta http-equiv='description' content='This is my page'>
</head>
<body  background='./images/mainback11.jpg'>
<!--  <div style="background:url(./images/22.jpg);position:absolute;right:0;bottom:0;height:0px;width:200px;border:2px solid gray;" id="popDiv">
	<font color=red>注意!&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</font><a href="javascript:runtimer(-2);void(0)"><font color=red>X</font></a></br>由于管理工具版本更新,请重新下载并安装最新版《<a href='#' onClick='downTool()'>三未信安USBKey管理工具v3.1</a>》
</div>
-->
<table width='900px' height='150px' border='0px' align='center'>
<tr><td>
		<div><img src = './images/tu.jpg' /></div>
	</td>
</tr>
</table>
<table width='800px' height='500px' border='0px' align='center'>
<TBODY>
<tr>
	<TD colSpan=4 height='100'><div align='center' ><h1 align='center' align=''>福田汽车CA认证系统</h1></DIV></TD>
</tr>

<tr height='40'>
	<td width='200'><DIV align=center>&nbsp;&nbsp;&nbsp;&nbsp;</DIV></td>
	<td width='100'><DIV align=center><span style='font-weight:bold;'>用户名称：</span></DIV></td>
	<td width='100'><DIV align=center><span style='font-weight:bold;'><div id='userName1' style='display:none; color:#F00'>&nbsp;</div></span></DIV></td>
	<td width='200'><DIV align=center>&nbsp;&nbsp;&nbsp;&nbsp;</DIV></td>
</tr>

<tr height='40'>
	<td width='200'><DIV align=center>&nbsp;&nbsp;&nbsp;&nbsp;</DIV></td>
	<td width='100'><DIV align=center><span style='font-weight:bold;'>用户单位：</span></DIV></td>
	<td width='100'><DIV align=center><span style='font-weight:bold;'><div id='orgName1' style='display:none; color:#F00'>&nbsp;</div></span></DIV></td>
	<td width='200'><DIV align=center>&nbsp;&nbsp;&nbsp;&nbsp;</DIV></td>
</tr>

<tr height='80'>
	<td colSpan=4><DIV align=center>
	<input type='button'  style='width:160px;height:35px;' name='Submit' value='福田U盾入口' onclick='jsconfim()'; >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<input type='button'  style='width:160px;height:35px;' name='Submit' value='安全证书入口' onclick='soft()'; ></DIV></td>
</tr>

<tr height='10'>
	<td colSpan=4><div align=center id='button1' style='display:none'>
	<span>倒计时<span id='timess'>3</span>秒 或点击</span><button onclick='tim()'>确认</button>进入
	</div><hr />
	</td>
</tr>

<tr>
	<td colSpan=4 height='100'>
<div><intpu type='button' value='test' style='width:160px;height:35px;' name='Submit'  onclick='openWindows()' /></div>
	<ol>
		<lable>* 首次登陆时，福田U盾用户请阅读：《</lable><a style='text-decoration:none;border:0' href='#' onclick="usbkey('usbkey.aspx','福田安全证书使用说明',1150,620)">福田U盾使用说明</a>》!<br />
		<lable>* 首次登陆时，安全证书用户请阅读：《</lable><a style='text-decoration:none;border:0' href='#' onclick="zhengshu('zhengshu.aspx','福田安全证书使用说明',1150,620)">福田安全证书使用说明</a>》!<br />
	</ol>
	</td>
</tr>
</TBODY></TABLE>
</body>
</html>