﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u6994 {
  position:absolute;
  left:4px;
  top:10px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u6995 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u6996 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6997 {
  position:absolute;
  left:995px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6998 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6997_ann {
  position:absolute;
  left:1012px;
  top:8px;
  width:1px;
  height:1px;
}
#u6999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6999 {
  position:absolute;
  left:1030px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7000 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7001 {
  position:absolute;
  left:14px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u7002 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7003 {
  position:absolute;
  left:81px;
  top:49px;
  width:120px;
  height:20px;
}
#u7003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7003_input {
  font-family:'应用字体';
}
#u7004 {
  position:absolute;
  left:11px;
  top:160px;
  width:1044px;
  height:126px;
  overflow:hidden;
}
#u7004_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1044px;
  height:126px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7004_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u7005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u7005 {
  position:absolute;
  left:48px;
  top:9px;
  width:169px;
  height:16px;
}
#u7006 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:121px;
}
#u7008 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7009 {
  position:absolute;
  left:2px;
  top:52px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7010 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7011 {
  position:absolute;
  left:9px;
  top:22px;
  width:1037px;
  height:104px;
}
#u7012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u7012 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7012_img.mouseOver {
}
#u7012.mouseOver {
}
#u7013 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u7014 {
  position:absolute;
  left:29px;
  top:0px;
  width:29px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7014_img.mouseOver {
}
#u7014.mouseOver {
}
#u7015 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u7016 {
  position:absolute;
  left:58px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7016_img.mouseOver {
}
#u7016.mouseOver {
}
#u7017 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u7018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u7018 {
  position:absolute;
  left:175px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7018_img.mouseOver {
}
#u7018.mouseOver {
}
#u7019 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u7020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u7020 {
  position:absolute;
  left:292px;
  top:0px;
  width:94px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7020_img.mouseOver {
}
#u7020.mouseOver {
}
#u7021 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u7022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u7022 {
  position:absolute;
  left:386px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7022_img.mouseOver {
}
#u7022.mouseOver {
}
#u7023 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u7024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u7024 {
  position:absolute;
  left:503px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7024_img.mouseOver {
}
#u7024.mouseOver {
}
#u7025 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u7026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u7026 {
  position:absolute;
  left:620px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7026_img.mouseOver {
}
#u7026.mouseOver {
}
#u7027 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  word-wrap:break-word;
}
#u7028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u7028 {
  position:absolute;
  left:729px;
  top:0px;
  width:94px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7028_img.mouseOver {
}
#u7028.mouseOver {
}
#u7029 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u7030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u7030 {
  position:absolute;
  left:823px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7030_img.mouseOver {
}
#u7030.mouseOver {
}
#u7031 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u7030_ann {
  position:absolute;
  left:926px;
  top:0px;
  width:1px;
  height:1px;
}
#u7032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u7032 {
  position:absolute;
  left:940px;
  top:0px;
  width:92px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u7032_img.mouseOver {
}
#u7032.mouseOver {
}
#u7033 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u7034 {
  position:absolute;
  left:0px;
  top:22px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7035 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u7036 {
  position:absolute;
  left:29px;
  top:22px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7037 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u7038 {
  position:absolute;
  left:58px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7039 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u7040 {
  position:absolute;
  left:175px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7041 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u7042 {
  position:absolute;
  left:292px;
  top:22px;
  width:94px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7043 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u7044 {
  position:absolute;
  left:386px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7045 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u7046 {
  position:absolute;
  left:503px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7047 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
}
#u7048 {
  position:absolute;
  left:620px;
  top:22px;
  width:109px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7049 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7048_ann {
  position:absolute;
  left:715px;
  top:22px;
  width:1px;
  height:1px;
}
#u7050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u7050 {
  position:absolute;
  left:729px;
  top:22px;
  width:94px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7051 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u7052 {
  position:absolute;
  left:823px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7053 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
}
#u7054 {
  position:absolute;
  left:940px;
  top:22px;
  width:92px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7055 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7056_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u7056 {
  position:absolute;
  left:0px;
  top:42px;
  width:29px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7057 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u7058 {
  position:absolute;
  left:29px;
  top:42px;
  width:29px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7059 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7060 {
  position:absolute;
  left:58px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7061 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7062 {
  position:absolute;
  left:175px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7063 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u7064 {
  position:absolute;
  left:292px;
  top:42px;
  width:94px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7065 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7066 {
  position:absolute;
  left:386px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7067 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7068_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7068 {
  position:absolute;
  left:503px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7069 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u7070 {
  position:absolute;
  left:620px;
  top:42px;
  width:109px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7071 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u7072 {
  position:absolute;
  left:729px;
  top:42px;
  width:94px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7073 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u7074 {
  position:absolute;
  left:823px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7075 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u7076 {
  position:absolute;
  left:940px;
  top:42px;
  width:92px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7077 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:37px;
}
#u7078 {
  position:absolute;
  left:0px;
  top:63px;
  width:29px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7079 {
  position:absolute;
  left:2px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:37px;
}
#u7080 {
  position:absolute;
  left:29px;
  top:63px;
  width:29px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7081 {
  position:absolute;
  left:2px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u7082 {
  position:absolute;
  left:58px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7083 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u7084 {
  position:absolute;
  left:175px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7085 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u7086 {
  position:absolute;
  left:292px;
  top:63px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7087 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u7088 {
  position:absolute;
  left:386px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7089 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u7090 {
  position:absolute;
  left:503px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7091 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u7092 {
  position:absolute;
  left:620px;
  top:63px;
  width:109px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7093 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u7094 {
  position:absolute;
  left:729px;
  top:63px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7095 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u7096 {
  position:absolute;
  left:823px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7097 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u7098 {
  position:absolute;
  left:940px;
  top:63px;
  width:92px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u7099 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7100 {
  position:absolute;
  left:44px;
  top:24px;
  width:14px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7101 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7100_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u7102 {
  position:absolute;
  left:-4px;
  top:2px;
  width:75px;
  height:13px;
}
#u7103 {
  position:absolute;
  left:2px;
  top:-2px;
  width:71px;
  word-wrap:break-word;
}
#u7104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u7104 {
  position:absolute;
  left:10px;
  top:193px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u7105 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7106 {
  position:absolute;
  left:-6px;
  top:87px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u7107 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7108 {
  position:absolute;
  left:78px;
  top:82px;
  width:123px;
  height:22px;
}
#u7108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7108_input {
  font-family:'应用字体';
}
#u7108_input:disabled {
  color:grayText;
}
#u7109 {
  position:absolute;
  left:282px;
  top:49px;
  width:123px;
  height:22px;
}
#u7109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7109_input {
  font-family:'应用字体';
}
#u7109_input:disabled {
  color:grayText;
}
#u7110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7110 {
  position:absolute;
  left:196px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u7111 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7112 {
  position:absolute;
  left:81px;
  top:116px;
  width:730px;
  height:20px;
}
#u7112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7112_input {
  font-family:'应用字体';
}
#u7113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7113 {
  position:absolute;
  left:-7px;
  top:118px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u7114 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u7115 {
  position:absolute;
  left:7px;
  top:40px;
  width:1050px;
  height:1px;
}
#u7116 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u7117 {
  position:absolute;
  left:6px;
  top:147px;
  width:1050px;
  height:1px;
}
#u7118 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7119 {
  position:absolute;
  left:199px;
  top:87px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u7120 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7121 {
  position:absolute;
  left:283px;
  top:82px;
  width:123px;
  height:22px;
}
#u7121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7121_input {
  font-family:'应用字体';
}
#u7121_input:disabled {
  color:grayText;
}
#u7122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7122 {
  position:absolute;
  left:475px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u7123 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7124 {
  position:absolute;
  left:519px;
  top:49px;
  width:120px;
  height:20px;
}
#u7124_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7124_input {
  font-family:'应用字体';
}
#u7125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u7125 {
  position:absolute;
  left:431px;
  top:87px;
  width:87px;
  height:17px;
  color:#FF0000;
}
#u7126 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u7127 {
  position:absolute;
  left:519px;
  top:82px;
  width:120px;
  height:20px;
}
#u7127_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7127_input {
  font-family:'应用字体';
}
#u7128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7128 {
  position:absolute;
  left:633px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u7129 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7130 {
  position:absolute;
  left:717px;
  top:49px;
  width:123px;
  height:22px;
}
#u7130_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7130_input {
  font-family:'应用字体';
}
#u7130_input:disabled {
  color:grayText;
}
#u7131 {
  position:absolute;
  left:854px;
  top:51px;
  width:100px;
  height:17px;
}
#u7132 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7131_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7133 {
  position:absolute;
  left:944px;
  top:51px;
  width:100px;
  height:17px;
}
#u7134 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u7133_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7133_ann {
  position:absolute;
  left:1037px;
  top:47px;
  width:1px;
  height:1px;
}
