@model Sunlight.Api.Service.Areas.HelpPage.InvalidSample

@if(HttpContext.Current.IsDebuggingEnabled) {
    <div class="warning-message-container">
        <p>@Model.ErrorMessage</p>
    </div>
} else {
    <p>Sample not available.</p>
}