@model IList<Sunlight.Api.Service.Areas.HelpPage.ModelDescriptions.ParameterDescription>

@if(Model.Count > 0) {
    <table class="help-page-table">
        <thead>
        <tr>
            <th>名称</th><th>描述信息</th><th>数据类型</th><th>附加信息</th>
        </tr>
        </thead>
        <tbody>
        @foreach(var parameter in Model) {
            var modelDescription = parameter.TypeDescription;
            <tr>
                <td class="parameter-name">@parameter.Name</td>
                <td class="parameter-documentation">
                    <p>@parameter.Documentation</p>
                </td>
                <td class="parameter-type">
                    @Html.DisplayFor(m => modelDescription.ModelType, "ModelDescriptionLink", new {
                        modelDescription
                    })
                </td>
                <td class="parameter-annotations">
                    @if(parameter.Annotations.Count > 0) {
                        foreach(var annotation in parameter.Annotations) {
                            <p>@annotation.Documentation</p>
                        }
                    } else {
                        <p>None.</p>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
} else {
    <p>None.</p>
}