@model Dictionary<System.Net.Http.Headers.MediaTypeHeaderValue, object>

@{
    // Group the samples into a single tab if they are the same.
    var samples = Model.GroupBy(pair => pair.Value).ToDictionary(pair => string.Join(", ", pair.Select(m => m.Key.ToString()).ToArray()), pair => pair.Key);
    var mediaTypes = samples.Keys;
}
<div>
    @foreach(var mediaType in mediaTypes) {
        <h4 class="sample-header">@mediaType</h4>
        <div class="sample-content">
            <span><b>Sample:</b></span>
            @{
                var sample = samples[mediaType];
                if(sample == null) {
                    <p>Sample not available.</p>
                } else {
                    @Html.DisplayFor(s => sample)
                    ;
                }
            }
        </div>
    }
</div>