﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1058px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:30px;
}
#u8108 {
  position:absolute;
  left:1px;
  top:5px;
  width:1069px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u8109 {
  position:absolute;
  left:2px;
  top:4px;
  width:1065px;
  word-wrap:break-word;
}
#u8110 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8111 {
  position:absolute;
  left:995px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8112 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8113 {
  position:absolute;
  left:1030px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8114 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u8115 {
  position:absolute;
  left:3px;
  top:35px;
  width:1050px;
  height:1px;
}
#u8116 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8117 {
  position:absolute;
  left:0px;
  top:51px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8118 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8119 {
  position:absolute;
  left:73px;
  top:48px;
  width:120px;
  height:20px;
}
#u8119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8119_input {
  font-family:'应用字体';
}
#u8120 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8121 {
  position:absolute;
  left:309px;
  top:46px;
  width:120px;
  height:20px;
}
#u8121_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8121_input {
  font-family:'应用字体';
}
#u8121_ann {
  position:absolute;
  left:422px;
  top:42px;
  width:1px;
  height:1px;
}
#u8122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8122 {
  position:absolute;
  left:411px;
  top:48px;
  width:18px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8123 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8124 {
  position:absolute;
  left:223px;
  top:49px;
  width:86px;
  height:17px;
}
#u8125 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8126 {
  position:absolute;
  left:499px;
  top:50px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8127 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8128 {
  position:absolute;
  left:543px;
  top:47px;
  width:120px;
  height:20px;
}
#u8128_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8128_input {
  font-family:'应用字体';
}
#u8129 {
  position:absolute;
  left:728px;
  top:44px;
  width:100px;
  height:17px;
}
#u8130 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8129_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8131 {
  position:absolute;
  left:818px;
  top:44px;
  width:100px;
  height:17px;
}
#u8132 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8131_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8131_ann {
  position:absolute;
  left:911px;
  top:40px;
  width:1px;
  height:1px;
}
#u8133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8133 {
  position:absolute;
  left:-12px;
  top:86px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8134 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8135 {
  position:absolute;
  left:74px;
  top:75px;
  width:589px;
  height:42px;
}
#u8135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8135_input {
  font-family:'应用字体';
}
#u8136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u8136 {
  position:absolute;
  left:-3px;
  top:125px;
  width:1050px;
  height:1px;
}
#u8137 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u8138 {
  position:absolute;
  left:2px;
  top:125px;
  width:1050px;
  height:1px;
}
#u8139 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u8140 {
  position:absolute;
  left:12px;
  top:360px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u8141 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8142 {
  position:absolute;
  left:303px;
  top:144px;
  width:120px;
  height:20px;
}
#u8142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u8142_input {
  font-family:'应用字体';
}
#u8142_input:disabled {
  color:grayText;
}
#u8143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8143 {
  position:absolute;
  left:220px;
  top:147px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8144 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8145_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8145 {
  position:absolute;
  left:-6px;
  top:371px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u8146 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8147_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u8147 {
  position:absolute;
  left:2px;
  top:124px;
  width:1050px;
  height:1px;
}
#u8148 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8149_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u8149 {
  position:absolute;
  left:8px;
  top:528px;
  width:1050px;
  height:1px;
}
#u8150 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8151_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8151 {
  position:absolute;
  left:16px;
  top:219px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8152 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8153 {
  position:absolute;
  left:81px;
  top:216px;
  width:120px;
  height:20px;
}
#u8154 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8153_ann {
  position:absolute;
  left:194px;
  top:212px;
  width:1px;
  height:1px;
}
#u8155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8155 {
  position:absolute;
  left:18px;
  top:182px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8156 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8157 {
  position:absolute;
  left:81px;
  top:179px;
  width:120px;
  height:20px;
}
#u8158 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8157_ann {
  position:absolute;
  left:194px;
  top:175px;
  width:1px;
  height:1px;
}
#u8159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
#u8159 {
  position:absolute;
  left:30px;
  top:249px;
  width:70px;
  height:17px;
  color:#FF0000;
}
#u8160 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u8161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8161 {
  position:absolute;
  left:81px;
  top:246px;
  width:120px;
  height:20px;
}
#u8162 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8161_ann {
  position:absolute;
  left:194px;
  top:242px;
  width:1px;
  height:1px;
}
#u8163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8163 {
  position:absolute;
  left:251px;
  top:249px;
  width:58px;
  height:17px;
  color:#1E1E1E;
}
#u8164 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u8165 {
  position:absolute;
  left:303px;
  top:246px;
  width:120px;
  height:20px;
}
#u8165_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8165_input {
  font-family:'应用字体';
}
#u8166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u8166 {
  position:absolute;
  left:714px;
  top:248px;
  width:90px;
  height:17px;
  color:#1E1E1E;
}
#u8167 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u8168 {
  position:absolute;
  left:776px;
  top:246px;
  width:120px;
  height:20px;
}
#u8168_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8168_input {
  font-family:'应用字体';
}
#u8169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u8169 {
  position:absolute;
  left:490px;
  top:147px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u8170 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u8171 {
  position:absolute;
  left:542px;
  top:144px;
  width:120px;
  height:20px;
}
#u8171_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8171_input {
  font-family:'应用字体';
}
#u8171_ann {
  position:absolute;
  left:655px;
  top:140px;
  width:1px;
  height:1px;
}
#u8172_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8172 {
  position:absolute;
  left:42px;
  top:323px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8173 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8174 {
  position:absolute;
  left:543px;
  top:179px;
  width:120px;
  height:20px;
}
#u8174_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u8174_input {
  font-family:'应用字体';
}
#u8174_input:disabled {
  color:grayText;
}
#u8174_ann {
  position:absolute;
  left:656px;
  top:175px;
  width:1px;
  height:1px;
}
#u8175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8175 {
  position:absolute;
  left:458px;
  top:182px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8176 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8177 {
  position:absolute;
  left:303px;
  top:174px;
  width:120px;
  height:20px;
}
#u8177_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u8177_input {
  font-family:'应用字体';
}
#u8177_input:disabled {
  color:grayText;
}
#u8177_ann {
  position:absolute;
  left:416px;
  top:170px;
  width:1px;
  height:1px;
}
#u8178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u8178 {
  position:absolute;
  left:207px;
  top:176px;
  width:90px;
  height:17px;
  color:#1E1E1E;
  text-align:right;
}
#u8179 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u8180 {
  position:absolute;
  left:776px;
  top:179px;
  width:120px;
  height:20px;
}
#u8180_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u8180_input {
  font-family:'应用字体';
}
#u8180_input:disabled {
  color:grayText;
}
#u8180_ann {
  position:absolute;
  left:889px;
  top:175px;
  width:1px;
  height:1px;
}
#u8181_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8181 {
  position:absolute;
  left:692px;
  top:182px;
  width:80px;
  height:17px;
  color:#1E1E1E;
  text-align:right;
}
#u8182 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8183_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8183 {
  position:absolute;
  left:724px;
  top:287px;
  width:80px;
  height:17px;
}
#u8184 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8185 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8186 {
  position:absolute;
  left:776px;
  top:284px;
  width:120px;
  height:20px;
}
#u8186_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8186_input {
  font-family:'应用字体';
}
#u8187_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8187 {
  position:absolute;
  left:878px;
  top:286px;
  width:18px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8188 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8189_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8189 {
  position:absolute;
  left:469px;
  top:290px;
  width:80px;
  height:17px;
}
#u8190 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8191 {
  position:absolute;
  left:543px;
  top:287px;
  width:120px;
  height:20px;
}
#u8191_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8191_input {
  font-family:'应用字体';
}
#u8191_ann {
  position:absolute;
  left:656px;
  top:283px;
  width:1px;
  height:1px;
}
#u8192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8192 {
  position:absolute;
  left:228px;
  top:290px;
  width:80px;
  height:17px;
}
#u8193 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8194 {
  position:absolute;
  left:303px;
  top:287px;
  width:120px;
  height:20px;
}
#u8194_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8194_input {
  font-family:'应用字体';
}
#u8194_ann {
  position:absolute;
  left:416px;
  top:283px;
  width:1px;
  height:1px;
}
#u8195_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8195 {
  position:absolute;
  left:251px;
  top:323px;
  width:80px;
  height:17px;
}
#u8196 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8197 {
  position:absolute;
  left:81px;
  top:320px;
  width:120px;
  height:20px;
}
#u8197_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8197_input {
  font-family:'应用字体';
}
#u8198 {
  position:absolute;
  left:82px;
  top:357px;
  width:359px;
  height:58px;
}
#u8198_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8198_input {
  font-family:'应用字体';
}
#u8199 {
  position:absolute;
  left:542px;
  top:318px;
  width:354px;
  height:22px;
}
#u8199_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8199_input {
  font-family:'应用字体';
}
#u8200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8200 {
  position:absolute;
  left:453px;
  top:322px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u8201 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8202 {
  position:absolute;
  left:543px;
  top:357px;
  width:246px;
  height:137px;
}
#u8202_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:137px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8202_input {
  font-family:'应用字体';
}
#u8202_ann {
  position:absolute;
  left:782px;
  top:353px;
  width:1px;
  height:1px;
}
#u8203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8203 {
  position:absolute;
  left:458px;
  top:364px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u8204 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u8205 {
  position:absolute;
  left:789px;
  top:475px;
  width:51px;
  height:19px;
}
#u8206 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u8207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u8207 {
  position:absolute;
  left:845px;
  top:475px;
  width:51px;
  height:19px;
}
#u8208 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u8209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8209 {
  position:absolute;
  left:-3px;
  top:442px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8210 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8211 {
  position:absolute;
  left:82px;
  top:434px;
  width:359px;
  height:60px;
}
#u8211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8211_input {
  font-family:'应用字体';
}
#u8212 {
  position:absolute;
  left:304px;
  top:322px;
  width:16px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8213 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8212_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8212_ann {
  position:absolute;
  left:313px;
  top:318px;
  width:1px;
  height:1px;
}
#u8214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8214 {
  position:absolute;
  left:468px;
  top:212px;
  width:86px;
  height:17px;
  color:#1E1E1E;
}
#u8215 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8216 {
  position:absolute;
  left:543px;
  top:209px;
  width:120px;
  height:20px;
}
#u8216_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8216_input {
  font-family:'应用字体';
}
#u8217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8217 {
  position:absolute;
  left:239px;
  top:211px;
  width:86px;
  height:17px;
  color:#1E1E1E;
}
#u8218 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8219 {
  position:absolute;
  left:303px;
  top:209px;
  width:120px;
  height:20px;
}
#u8219_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8219_input {
  font-family:'应用字体';
}
#u8220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8220 {
  position:absolute;
  left:5px;
  top:287px;
  width:80px;
  height:17px;
}
#u8221 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8222 {
  position:absolute;
  left:81px;
  top:284px;
  width:120px;
  height:20px;
}
#u8223 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8222_ann {
  position:absolute;
  left:194px;
  top:280px;
  width:1px;
  height:1px;
}
#u8224_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8224 {
  position:absolute;
  left:503px;
  top:249px;
  width:58px;
  height:17px;
  color:#1E1E1E;
}
#u8225 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u8226 {
  position:absolute;
  left:543px;
  top:246px;
  width:120px;
  height:20px;
}
#u8226_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8226_input {
  font-family:'应用字体';
}
#u8227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8227 {
  position:absolute;
  left:6px;
  top:147px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8228 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8229 {
  position:absolute;
  left:81px;
  top:144px;
  width:120px;
  height:20px;
}
#u8230 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8229_ann {
  position:absolute;
  left:194px;
  top:140px;
  width:1px;
  height:1px;
}
#u8231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u8231 {
  position:absolute;
  left:700px;
  top:147px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u8232 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u8233 {
  position:absolute;
  left:776px;
  top:144px;
  width:120px;
  height:20px;
}
#u8233_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8233_input {
  font-family:'应用字体';
}
#u8233_ann {
  position:absolute;
  left:889px;
  top:140px;
  width:1px;
  height:1px;
}
#u8234_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u8234 {
  position:absolute;
  left:711px;
  top:214px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u8235 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u8236 {
  position:absolute;
  left:776px;
  top:211px;
  width:120px;
  height:20px;
}
#u8236_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8236_input {
  font-family:'应用字体';
}
