﻿.ax_default {
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
._未选择 {
}
._新样式1 {
  font-family:'Arial Normal', 'Arial';
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._新样式 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._节点按钮悬停后 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:13px;
  color:#000000;
  text-align:center;
  line-height:normal;
}
._节点按钮悬停前 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:bold;
  font-size:13px;
}
._形状 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#000000;
}
.box_1 {
}
._图片 {
  color:#000000;
}
.button {
}
._一级标题 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:32px;
  text-align:left;
}
._二级标题 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:24px;
  text-align:left;
}
._三级标题 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:18px;
  text-align:left;
}
._四级标题 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:14px;
  text-align:left;
}
._五级标题 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  text-align:left;
}
._六级标题 {
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:10px;
  text-align:left;
}
._文本段落 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:left;
}
.line {
}
._文本框 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#000000;
  text-align:left;
}
._多行文本框 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#000000;
  text-align:left;
}
._下拉列表框 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#000000;
  text-align:left;
}
._复选框 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:left;
}
._单选按钮 {
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  text-align:left;
}
._流程形状 {
}
._提交按钮 {
  color:#000000;
}
._表格 {
}
._单元格 {
}
._水平线 {
}
._垂直线 {
}
