﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1099px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1280_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:30px;
}
#u1280 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1101px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u1281 {
  position:absolute;
  left:2px;
  top:4px;
  width:1097px;
  word-wrap:break-word;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1283_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1283 {
  position:absolute;
  left:1037px;
  top:2px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1284 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1283_ann {
  position:absolute;
  left:1054px;
  top:-2px;
  width:1px;
  height:1px;
}
#u1285_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1285 {
  position:absolute;
  left:1072px;
  top:2px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1286 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1287_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1287 {
  position:absolute;
  left:9px;
  top:47px;
  width:80px;
  height:17px;
}
#u1288 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1289 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1290 {
  position:absolute;
  left:64px;
  top:45px;
  width:100px;
  height:20px;
}
#u1290_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1290_input {
  font-family:'应用字体';
}
#u1291_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u1291 {
  position:absolute;
  left:149px;
  top:47px;
  width:15px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1292 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1293_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1293 {
  position:absolute;
  left:312px;
  top:47px;
  width:80px;
  height:17px;
}
#u1294 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1295 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1296 {
  position:absolute;
  left:367px;
  top:45px;
  width:100px;
  height:20px;
}
#u1296_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1296_input {
  font-family:'应用字体';
}
#u1297_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u1297 {
  position:absolute;
  left:452px;
  top:47px;
  width:15px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1298 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1299_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:2px;
}
#u1299 {
  position:absolute;
  left:2px;
  top:30px;
  width:1090px;
  height:1px;
}
#u1300 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1301_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:2px;
}
#u1301 {
  position:absolute;
  left:8px;
  top:83px;
  width:1090px;
  height:1px;
}
#u1302 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
