﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1051px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u9452 {
  position:absolute;
  left:3px;
  top:10px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u9453 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u9454 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9455_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9455 {
  position:absolute;
  left:999px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9456 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9457_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9457 {
  position:absolute;
  left:1034px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9458 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9459_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u9459 {
  position:absolute;
  left:17px;
  top:157px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u9460 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9461 {
  position:absolute;
  left:76px;
  top:50px;
  width:123px;
  height:20px;
}
#u9461_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u9461_input {
  font-family:'应用字体';
}
#u9461_input:disabled {
  color:grayText;
}
#u9462_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u9462 {
  position:absolute;
  left:-13px;
  top:54px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u9463 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9464_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u9464 {
  position:absolute;
  left:14px;
  top:39px;
  width:1050px;
  height:1px;
}
#u9465 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9466_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u9466 {
  position:absolute;
  left:3px;
  top:191px;
  width:1050px;
  height:1px;
}
#u9467 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9468_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u9468 {
  position:absolute;
  left:211px;
  top:53px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u9469 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9470_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u9470 {
  position:absolute;
  left:299px;
  top:50px;
  width:120px;
  height:20px;
}
#u9471 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9472_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u9472 {
  position:absolute;
  left:-8px;
  top:94px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u9473 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9474_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u9474 {
  position:absolute;
  left:79px;
  top:95px;
  width:120px;
  height:20px;
}
#u9475 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9476_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u9476 {
  position:absolute;
  left:235px;
  top:93px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u9477 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9478 {
  position:absolute;
  left:299px;
  top:93px;
  width:120px;
  height:20px;
}
#u9478_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9478_input {
  font-family:'应用字体';
}
#u9479 {
  position:absolute;
  left:80px;
  top:136px;
  width:339px;
  height:37px;
}
#u9479_input {
  position:absolute;
  left:0px;
  top:0px;
  width:339px;
  height:37px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9479_input {
  font-family:'应用字体';
}
#u9480_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u9480 {
  position:absolute;
  left:-8px;
  top:138px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u9481 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
