﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1051px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u910 {
  position:absolute;
  left:9px;
  top:121px;
  width:1043px;
  height:152px;
  overflow:hidden;
}
#u910_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:152px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u910_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:23px;
}
#u911 {
  position:absolute;
  left:4px;
  top:0px;
  width:1036px;
  height:22px;
  font-size:13px;
  text-align:left;
}
#u912 {
  position:absolute;
  left:2px;
  top:2px;
  width:1032px;
  word-wrap:break-word;
}
#u913 {
  position:absolute;
  left:5px;
  top:22px;
  width:1188px;
  height:100px;
}
#u914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u914 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u914_img.mouseOver {
}
#u914.mouseOver {
}
#u915 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u916 {
  position:absolute;
  left:19px;
  top:0px;
  width:19px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u916_img.mouseOver {
}
#u916.mouseOver {
}
#u917 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:24px;
}
#u918 {
  position:absolute;
  left:38px;
  top:0px;
  width:148px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u918_img.mouseOver {
}
#u918.mouseOver {
}
#u919 {
  position:absolute;
  left:2px;
  top:3px;
  width:144px;
  word-wrap:break-word;
}
#u920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u920 {
  position:absolute;
  left:186px;
  top:0px;
  width:139px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u920_img.mouseOver {
}
#u920.mouseOver {
}
#u921 {
  position:absolute;
  left:2px;
  top:3px;
  width:135px;
  word-wrap:break-word;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
}
#u922 {
  position:absolute;
  left:325px;
  top:0px;
  width:140px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u922_img.mouseOver {
}
#u922.mouseOver {
}
#u923 {
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
}
#u924 {
  position:absolute;
  left:465px;
  top:0px;
  width:150px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u924_img.mouseOver {
}
#u924.mouseOver {
}
#u925 {
  position:absolute;
  left:2px;
  top:3px;
  width:146px;
  word-wrap:break-word;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u926 {
  position:absolute;
  left:615px;
  top:0px;
  width:145px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u926_img.mouseOver {
}
#u926.mouseOver {
}
#u927 {
  position:absolute;
  left:2px;
  top:3px;
  width:141px;
  word-wrap:break-word;
}
#u928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:24px;
}
#u928 {
  position:absolute;
  left:760px;
  top:0px;
  width:423px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u928_img.mouseOver {
}
#u928.mouseOver {
}
#u929 {
  position:absolute;
  left:2px;
  top:4px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u930 {
  position:absolute;
  left:0px;
  top:23px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u931 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u932 {
  position:absolute;
  left:19px;
  top:23px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u933 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
}
#u934 {
  position:absolute;
  left:38px;
  top:23px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u935 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
}
#u936 {
  position:absolute;
  left:186px;
  top:23px;
  width:139px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u937 {
  position:absolute;
  left:2px;
  top:2px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u938 {
  position:absolute;
  left:325px;
  top:23px;
  width:140px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u939 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:21px;
}
#u940 {
  position:absolute;
  left:465px;
  top:23px;
  width:150px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u941 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u942 {
  position:absolute;
  left:615px;
  top:23px;
  width:145px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u943 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:21px;
}
#u944 {
  position:absolute;
  left:760px;
  top:23px;
  width:423px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u945 {
  position:absolute;
  left:2px;
  top:2px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u946 {
  position:absolute;
  left:0px;
  top:43px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u947 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u948 {
  position:absolute;
  left:19px;
  top:43px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u949 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u950 {
  position:absolute;
  left:38px;
  top:43px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u951 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u952 {
  position:absolute;
  left:186px;
  top:43px;
  width:139px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u953 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u954 {
  position:absolute;
  left:325px;
  top:43px;
  width:140px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u955 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u956 {
  position:absolute;
  left:465px;
  top:43px;
  width:150px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u957 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
}
#u958 {
  position:absolute;
  left:615px;
  top:43px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u959 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:27px;
}
#u960 {
  position:absolute;
  left:760px;
  top:43px;
  width:423px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u961 {
  position:absolute;
  left:2px;
  top:5px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u962 {
  position:absolute;
  left:0px;
  top:69px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u963 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u964 {
  position:absolute;
  left:19px;
  top:69px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u965 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u966 {
  position:absolute;
  left:38px;
  top:69px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u967 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u968 {
  position:absolute;
  left:186px;
  top:69px;
  width:139px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u969 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u970 {
  position:absolute;
  left:325px;
  top:69px;
  width:140px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u971 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u972 {
  position:absolute;
  left:465px;
  top:69px;
  width:150px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u973 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
}
#u974 {
  position:absolute;
  left:615px;
  top:69px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u975 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:27px;
}
#u976 {
  position:absolute;
  left:760px;
  top:69px;
  width:423px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u977 {
  position:absolute;
  left:2px;
  top:5px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910_ann {
  position:absolute;
  left:1044px;
  top:117px;
  width:1px;
  height:1px;
}
#u978 {
  position:absolute;
  left:850px;
  top:36px;
  width:100px;
  height:17px;
}
#u979 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u978_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u980 {
  position:absolute;
  left:940px;
  top:36px;
  width:100px;
  height:17px;
}
#u981 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u980_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u980_ann {
  position:absolute;
  left:1033px;
  top:32px;
  width:1px;
  height:1px;
}
#u982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u982 {
  position:absolute;
  left:1px;
  top:0px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u983 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u984 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u985 {
  position:absolute;
  left:992px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u986 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u987 {
  position:absolute;
  left:1027px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u988 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:2px;
}
#u989 {
  position:absolute;
  left:8px;
  top:110px;
  width:1032px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u991 {
  position:absolute;
  left:9px;
  top:40px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u992 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u993 {
  position:absolute;
  left:89px;
  top:37px;
  width:120px;
  height:20px;
}
#u993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u993_input {
  font-family:'应用字体';
}
#u993_ann {
  position:absolute;
  left:202px;
  top:33px;
  width:1px;
  height:1px;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u994 {
  position:absolute;
  left:614px;
  top:38px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u995 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u996 {
  position:absolute;
  left:698px;
  top:35px;
  width:123px;
  height:22px;
}
#u996_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u996_input {
  font-family:'应用字体';
}
#u996_input:disabled {
  color:grayText;
}
#u997 {
  position:absolute;
  left:292px;
  top:35px;
  width:123px;
  height:22px;
}
#u997_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u997_input {
  font-family:'应用字体';
}
#u997_input:disabled {
  color:grayText;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u998 {
  position:absolute;
  left:206px;
  top:38px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u999 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1000 {
  position:absolute;
  left:512px;
  top:34px;
  width:123px;
  height:22px;
}
#u1000_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u1000_input {
  font-family:'应用字体';
}
#u1000_input:disabled {
  color:grayText;
}
#u1001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1001 {
  position:absolute;
  left:427px;
  top:37px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1002 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1003 {
  position:absolute;
  left:90px;
  top:78px;
  width:730px;
  height:20px;
}
#u1003_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1003_input {
  font-family:'应用字体';
}
#u1004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1004 {
  position:absolute;
  left:2px;
  top:80px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
