﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u6732 {
  position:absolute;
  left:4px;
  top:10px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u6733 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u6734 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6735_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6735 {
  position:absolute;
  left:995px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6736 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6735_ann {
  position:absolute;
  left:1012px;
  top:8px;
  width:1px;
  height:1px;
}
#u6737_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6737 {
  position:absolute;
  left:1030px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6738 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6739_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6739 {
  position:absolute;
  left:14px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6740 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6741 {
  position:absolute;
  left:81px;
  top:49px;
  width:120px;
  height:20px;
}
#u6741_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6741_input {
  font-family:'应用字体';
}
#u6742 {
  position:absolute;
  left:11px;
  top:160px;
  width:828px;
  height:126px;
  overflow:hidden;
}
#u6742_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:126px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6742_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6743_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u6743 {
  position:absolute;
  left:48px;
  top:9px;
  width:169px;
  height:16px;
}
#u6744 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6745 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:118px;
}
#u6746 {
  position:absolute;
  left:1px;
  top:3px;
  width:468px;
  height:117px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6747 {
  position:absolute;
  left:2px;
  top:50px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6748 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6749 {
  position:absolute;
  left:11px;
  top:24px;
  width:1045px;
  height:101px;
}
#u6750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u6750 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6750_img.mouseOver {
}
#u6750.mouseOver {
}
#u6751 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u6752 {
  position:absolute;
  left:31px;
  top:0px;
  width:31px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6752_img.mouseOver {
}
#u6752.mouseOver {
}
#u6753 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6754 {
  position:absolute;
  left:62px;
  top:0px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6754_img.mouseOver {
}
#u6754.mouseOver {
}
#u6755 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u6756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6756 {
  position:absolute;
  left:186px;
  top:0px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6756_img.mouseOver {
}
#u6756.mouseOver {
}
#u6757 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u6758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6758 {
  position:absolute;
  left:310px;
  top:0px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6758_img.mouseOver {
}
#u6758.mouseOver {
}
#u6759 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u6760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6760 {
  position:absolute;
  left:426px;
  top:0px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6760_img.mouseOver {
}
#u6760.mouseOver {
}
#u6761 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u6762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6762 {
  position:absolute;
  left:550px;
  top:0px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6762_img.mouseOver {
}
#u6762.mouseOver {
}
#u6763 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u6764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6764 {
  position:absolute;
  left:674px;
  top:0px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6764_img.mouseOver {
}
#u6764.mouseOver {
}
#u6765 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u6766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
}
#u6766 {
  position:absolute;
  left:790px;
  top:0px;
  width:250px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6766_img.mouseOver {
}
#u6766.mouseOver {
}
#u6767 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u6768 {
  position:absolute;
  left:0px;
  top:21px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6769 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u6770 {
  position:absolute;
  left:31px;
  top:21px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6771 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u6772 {
  position:absolute;
  left:62px;
  top:21px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6773 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u6774 {
  position:absolute;
  left:186px;
  top:21px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6775 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
}
#u6776 {
  position:absolute;
  left:310px;
  top:21px;
  width:116px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6777 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u6778 {
  position:absolute;
  left:426px;
  top:21px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6779 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u6780 {
  position:absolute;
  left:550px;
  top:21px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6781 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
}
#u6782 {
  position:absolute;
  left:674px;
  top:21px;
  width:116px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6783 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
}
#u6784 {
  position:absolute;
  left:790px;
  top:21px;
  width:250px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6785 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u6786 {
  position:absolute;
  left:0px;
  top:41px;
  width:31px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6787 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u6788 {
  position:absolute;
  left:31px;
  top:41px;
  width:31px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6789 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6790_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6790 {
  position:absolute;
  left:62px;
  top:41px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6791 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6792_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6792 {
  position:absolute;
  left:186px;
  top:41px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6793 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6794 {
  position:absolute;
  left:310px;
  top:41px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6795 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6796 {
  position:absolute;
  left:426px;
  top:41px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6797 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6798 {
  position:absolute;
  left:550px;
  top:41px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6799 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6800 {
  position:absolute;
  left:674px;
  top:41px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6801 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
}
#u6802 {
  position:absolute;
  left:790px;
  top:41px;
  width:250px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6803 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6804_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u6804 {
  position:absolute;
  left:0px;
  top:62px;
  width:31px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6805 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u6806 {
  position:absolute;
  left:31px;
  top:62px;
  width:31px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6807 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u6808 {
  position:absolute;
  left:62px;
  top:62px;
  width:124px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6809 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u6810 {
  position:absolute;
  left:186px;
  top:62px;
  width:124px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6811 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6812_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u6812 {
  position:absolute;
  left:310px;
  top:62px;
  width:116px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6813 {
  position:absolute;
  left:2px;
  top:9px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6814_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u6814 {
  position:absolute;
  left:426px;
  top:62px;
  width:124px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6815 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u6816 {
  position:absolute;
  left:550px;
  top:62px;
  width:124px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6817 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u6818 {
  position:absolute;
  left:674px;
  top:62px;
  width:116px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6819 {
  position:absolute;
  left:2px;
  top:9px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
}
#u6820 {
  position:absolute;
  left:790px;
  top:62px;
  width:250px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6821 {
  position:absolute;
  left:2px;
  top:9px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6822 {
  position:absolute;
  left:49px;
  top:26px;
  width:16px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6823 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6822_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:14px;
}
#u6824 {
  position:absolute;
  left:-4px;
  top:5px;
  width:83px;
  height:13px;
}
#u6825 {
  position:absolute;
  left:2px;
  top:-2px;
  width:79px;
  word-wrap:break-word;
}
#u6826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u6826 {
  position:absolute;
  left:10px;
  top:193px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u6827 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6828 {
  position:absolute;
  left:-6px;
  top:87px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6829 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6830 {
  position:absolute;
  left:78px;
  top:82px;
  width:123px;
  height:22px;
}
#u6830_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6830_input {
  font-family:'应用字体';
}
#u6830_input:disabled {
  color:grayText;
}
#u6831 {
  position:absolute;
  left:282px;
  top:49px;
  width:123px;
  height:22px;
}
#u6831_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6831_input {
  font-family:'应用字体';
}
#u6831_input:disabled {
  color:grayText;
}
#u6832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6832 {
  position:absolute;
  left:196px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6833 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6834 {
  position:absolute;
  left:81px;
  top:116px;
  width:730px;
  height:20px;
}
#u6834_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6834_input {
  font-family:'应用字体';
}
#u6835_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6835 {
  position:absolute;
  left:-7px;
  top:118px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u6836 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6837_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u6837 {
  position:absolute;
  left:7px;
  top:40px;
  width:1050px;
  height:1px;
}
#u6838 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u6839 {
  position:absolute;
  left:6px;
  top:147px;
  width:1050px;
  height:1px;
}
#u6840 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6841_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6841 {
  position:absolute;
  left:199px;
  top:87px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6842 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6843 {
  position:absolute;
  left:283px;
  top:82px;
  width:123px;
  height:22px;
}
#u6843_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6843_input {
  font-family:'应用字体';
}
#u6843_input:disabled {
  color:grayText;
}
#u6844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6844 {
  position:absolute;
  left:475px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6845 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6846 {
  position:absolute;
  left:519px;
  top:49px;
  width:120px;
  height:20px;
}
#u6846_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6846_input {
  font-family:'应用字体';
}
#u6847_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u6847 {
  position:absolute;
  left:431px;
  top:87px;
  width:87px;
  height:17px;
  color:#FF0000;
}
#u6848 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6849 {
  position:absolute;
  left:519px;
  top:82px;
  width:120px;
  height:20px;
}
#u6849_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6849_input {
  font-family:'应用字体';
}
#u6850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6850 {
  position:absolute;
  left:633px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6851 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6852 {
  position:absolute;
  left:717px;
  top:49px;
  width:123px;
  height:22px;
}
#u6852_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6852_input {
  font-family:'应用字体';
}
#u6852_input:disabled {
  color:grayText;
}
#u6853 {
  position:absolute;
  left:854px;
  top:51px;
  width:100px;
  height:17px;
}
#u6854 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6853_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6855 {
  position:absolute;
  left:944px;
  top:51px;
  width:100px;
  height:17px;
}
#u6856 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6855_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6855_ann {
  position:absolute;
  left:1037px;
  top:47px;
  width:1px;
  height:1px;
}
