﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1240px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:30px;
}
#u3900 {
  position:absolute;
  left:0px;
  top:0px;
  width:1240px;
  height:30px;
}
#u3901 {
  position:absolute;
  left:2px;
  top:7px;
  width:1236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3902_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1135px;
  height:743px;
}
#u3902 {
  position:absolute;
  left:0px;
  top:30px;
  width:1130px;
  height:738px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:361px;
  width:1126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3904 {
  position:absolute;
  left:0px;
  top:30px;
  width:1241px;
  height:121px;
  overflow:hidden;
}
#u3904_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:121px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3904_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3906_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1247px;
  height:105px;
}
#u3906 {
  position:absolute;
  left:-2px;
  top:20px;
  width:1242px;
  height:100px;
}
#u3907 {
  position:absolute;
  left:2px;
  top:2px;
  width:1238px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3908_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1245px;
  height:22px;
}
#u3908 {
  position:absolute;
  left:0px;
  top:101px;
  width:1240px;
  height:17px;
  font-size:12px;
}
#u3909 {
  position:absolute;
  left:2px;
  top:2px;
  width:1236px;
  word-wrap:break-word;
}
#u3910_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1285px;
  height:27px;
}
#u3910 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:22px;
}
#u3911 {
  position:absolute;
  left:2px;
  top:3px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3912_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:25px;
}
#u3912 {
  position:absolute;
  left:140px;
  top:2px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3913 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u3914_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:25px;
}
#u3914 {
  position:absolute;
  left:45px;
  top:2px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3915 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3917_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:6px;
  height:55px;
}
#u3917 {
  position:absolute;
  left:1163px;
  top:36px;
  width:1px;
  height:50px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3919_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u3919 {
  position:absolute;
  left:1173px;
  top:33px;
  width:53px;
  height:53px;
}
#u3919_img.mouseOver {
}
#u3919.mouseOver {
}
#u3919_img.mouseDown {
}
#u3919.mouseDown {
}
#u3920 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:22px;
}
#u3921 {
  position:absolute;
  left:13px;
  top:38px;
  width:90px;
  height:17px;
  color:#000000;
}
#u3922 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u3923 {
  position:absolute;
  left:92px;
  top:34px;
  width:120px;
  height:20px;
}
#u3923_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3923_input {
  font-family:'应用字体';
}
#u3923_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3924_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:55px;
  height:22px;
}
#u3924 {
  position:absolute;
  left:228px;
  top:33px;
  width:50px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u3925 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u3926 {
  position:absolute;
  left:283px;
  top:30px;
  width:120px;
  height:20px;
}
#u3926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3926_input {
  font-family:'应用字体';
}
#u3926_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3927_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:85px;
  height:22px;
}
#u3927 {
  position:absolute;
  left:861px;
  top:32px;
  width:80px;
  height:17px;
}
#u3928 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3929 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3930 {
  position:absolute;
  left:916px;
  top:30px;
  width:100px;
  height:20px;
}
#u3930_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3930_input {
  font-family:'应用字体';
}
#u3930_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3931 {
  position:absolute;
  left:1036px;
  top:30px;
  width:100px;
  height:20px;
}
#u3931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3931_input {
  font-family:'应用字体';
}
#u3931_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u3932 {
  position:absolute;
  left:1001px;
  top:32px;
  width:15px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u3934 {
  position:absolute;
  left:1121px;
  top:32px;
  width:15px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3935 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3936_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:22px;
}
#u3936 {
  position:absolute;
  left:1019px;
  top:31px;
  width:20px;
  height:17px;
  text-align:center;
}
#u3937 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u3938_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:59px;
  height:22px;
}
#u3938 {
  position:absolute;
  left:411px;
  top:72px;
  width:54px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u3939 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u3940 {
  position:absolute;
  left:470px;
  top:68px;
  width:120px;
  height:22px;
}
#u3940_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3940_input {
  font-family:'应用字体';
}
#u3940_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3940_input:disabled {
  color:grayText;
}
#u3941_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:71px;
  height:22px;
}
#u3941 {
  position:absolute;
  left:26px;
  top:72px;
  width:66px;
  height:17px;
  color:#000000;
}
#u3942 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  word-wrap:break-word;
}
#u3943 {
  position:absolute;
  left:92px;
  top:70px;
  width:120px;
  height:20px;
}
#u3943_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3943_input {
  font-family:'应用字体';
}
#u3943_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3944_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:85px;
  height:22px;
}
#u3944 {
  position:absolute;
  left:231px;
  top:71px;
  width:80px;
  height:17px;
  color:#000000;
}
#u3945 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3946 {
  position:absolute;
  left:285px;
  top:68px;
  width:120px;
  height:20px;
}
#u3946_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3946_input {
  font-family:'应用字体';
}
#u3946_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3947_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:59px;
  height:22px;
}
#u3947 {
  position:absolute;
  left:411px;
  top:35px;
  width:54px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u3948 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u3949 {
  position:absolute;
  left:470px;
  top:31px;
  width:120px;
  height:22px;
}
#u3949_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3949_input {
  font-family:'应用字体';
}
#u3949_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:28px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3949_input:disabled {
  color:grayText;
}
#u3950_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:85px;
  height:22px;
}
#u3950 {
  position:absolute;
  left:840px;
  top:69px;
  width:80px;
  height:17px;
}
#u3951 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3952 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3953 {
  position:absolute;
  left:917px;
  top:67px;
  width:100px;
  height:20px;
}
#u3953_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3953_input {
  font-family:'应用字体';
}
#u3953_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3954 {
  position:absolute;
  left:1037px;
  top:67px;
  width:100px;
  height:20px;
}
#u3954_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3954_input {
  font-family:'应用字体';
}
#u3954_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:106px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u3955 {
  position:absolute;
  left:1002px;
  top:69px;
  width:15px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3956 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:18px;
}
#u3957 {
  position:absolute;
  left:1122px;
  top:69px;
  width:15px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3958 {
  position:absolute;
  left:2px;
  top:1px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:25px;
  height:22px;
}
#u3959 {
  position:absolute;
  left:1017px;
  top:68px;
  width:20px;
  height:17px;
  text-align:center;
}
#u3960 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:22px;
}
#u3961 {
  position:absolute;
  left:614px;
  top:33px;
  width:79px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u3962 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  word-wrap:break-word;
}
#u3963 {
  position:absolute;
  left:698px;
  top:30px;
  width:120px;
  height:20px;
}
#u3963_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3963_input {
  font-family:'应用字体';
}
#u3963_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3964_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:85px;
  height:22px;
}
#u3964 {
  position:absolute;
  left:621px;
  top:71px;
  width:80px;
  height:17px;
  color:#000000;
}
#u3965 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3966 {
  position:absolute;
  left:700px;
  top:68px;
  width:120px;
  height:20px;
}
#u3966_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3966_input {
  font-family:'应用字体';
}
#u3966_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:126px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u3904_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:121px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3904_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3967 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3968_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1287px;
  height:103px;
}
#u3968 {
  position:absolute;
  left:-2px;
  top:22px;
  width:1282px;
  height:98px;
}
#u3969 {
  position:absolute;
  left:2px;
  top:2px;
  width:1278px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3970_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1285px;
  height:22px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:101px;
  width:1280px;
  height:17px;
  font-size:12px;
}
#u3971 {
  position:absolute;
  left:2px;
  top:2px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3972_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1285px;
  height:27px;
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:22px;
}
#u3973 {
  position:absolute;
  left:2px;
  top:3px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3974_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1285px;
  height:27px;
}
#u3974 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:22px;
}
#u3975 {
  position:absolute;
  left:2px;
  top:3px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:25px;
}
#u3976 {
  position:absolute;
  left:45px;
  top:2px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3977 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:95px;
  height:25px;
}
#u3978 {
  position:absolute;
  left:140px;
  top:2px;
  width:90px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u3979 {
  position:absolute;
  left:2px;
  top:2px;
  width:86px;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1135px;
  height:25px;
}
#u3980 {
  position:absolute;
  left:10px;
  top:100px;
  width:1130px;
  height:20px;
}
#u3981 {
  position:absolute;
  left:2px;
  top:2px;
  width:1126px;
  word-wrap:break-word;
}
#u3982_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u3982 {
  position:absolute;
  left:87px;
  top:32px;
  width:53px;
  height:53px;
}
#u3982_img.mouseOver {
}
#u3982.mouseOver {
}
#u3982_img.mouseDown {
}
#u3982.mouseDown {
}
#u3983 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u3984_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u3984 {
  position:absolute;
  left:17px;
  top:32px;
  width:53px;
  height:53px;
}
#u3984_img.mouseOver {
}
#u3984.mouseOver {
}
#u3984_img.mouseDown {
}
#u3984.mouseDown {
}
#u3985 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u3986 {
  position:absolute;
  left:233px;
  top:32px;
  width:53px;
  height:53px;
}
#u3986_img.mouseOver {
}
#u3986.mouseOver {
}
#u3986_img.mouseDown {
}
#u3986.mouseDown {
}
#u3987 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u3988_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:58px;
  height:58px;
}
#u3988 {
  position:absolute;
  left:155px;
  top:32px;
  width:53px;
  height:53px;
}
#u3988_img.mouseOver {
}
#u3988.mouseOver {
}
#u3988_img.mouseDown {
}
#u3988.mouseDown {
}
#u3989 {
  position:absolute;
  left:2px;
  top:10px;
  width:49px;
  word-wrap:break-word;
}
#u3990 {
  position:absolute;
  left:0px;
  top:150px;
  width:1241px;
  height:619px;
  overflow:hidden;
}
#u3990_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1241px;
  height:619px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3990_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3991_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1285px;
  height:623px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:1280px;
  height:618px;
  font-size:12px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:301px;
  width:1276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993 {
  position:absolute;
  left:1px;
  top:24px;
  width:1246px;
  height:579px;
}
#u3994_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:28px;
}
#u3994 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3995 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3996_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:28px;
}
#u3996 {
  position:absolute;
  left:23px;
  top:0px;
  width:23px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3997 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3998_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:28px;
}
#u3998 {
  position:absolute;
  left:46px;
  top:0px;
  width:92px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u3999 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:28px;
}
#u4000 {
  position:absolute;
  left:138px;
  top:0px;
  width:63px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4001 {
  position:absolute;
  left:2px;
  top:3px;
  width:59px;
  word-wrap:break-word;
}
#u4002_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:28px;
}
#u4002 {
  position:absolute;
  left:201px;
  top:0px;
  width:79px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4003 {
  position:absolute;
  left:2px;
  top:3px;
  width:75px;
  word-wrap:break-word;
}
#u4004_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:28px;
}
#u4004 {
  position:absolute;
  left:280px;
  top:0px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4005 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u4006_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:28px;
}
#u4006 {
  position:absolute;
  left:341px;
  top:0px;
  width:70px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4007 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  word-wrap:break-word;
}
#u4008_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:28px;
}
#u4008 {
  position:absolute;
  left:411px;
  top:0px;
  width:69px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4009 {
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  word-wrap:break-word;
}
#u4010_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:28px;
}
#u4010 {
  position:absolute;
  left:480px;
  top:0px;
  width:76px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4011 {
  position:absolute;
  left:2px;
  top:3px;
  width:72px;
  word-wrap:break-word;
}
#u4012_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:28px;
}
#u4012 {
  position:absolute;
  left:556px;
  top:0px;
  width:69px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4013 {
  position:absolute;
  left:2px;
  top:3px;
  width:65px;
  word-wrap:break-word;
}
#u4014_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:28px;
}
#u4014 {
  position:absolute;
  left:625px;
  top:0px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4015 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u4016_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:92px;
  height:28px;
}
#u4016 {
  position:absolute;
  left:686px;
  top:0px;
  width:87px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4017 {
  position:absolute;
  left:2px;
  top:3px;
  width:83px;
  word-wrap:break-word;
}
#u4018_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:111px;
  height:28px;
}
#u4018 {
  position:absolute;
  left:773px;
  top:0px;
  width:106px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4019 {
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  word-wrap:break-word;
}
#u4020_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:115px;
  height:28px;
}
#u4020 {
  position:absolute;
  left:879px;
  top:0px;
  width:110px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4021 {
  position:absolute;
  left:2px;
  top:3px;
  width:106px;
  word-wrap:break-word;
}
#u4022_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:72px;
  height:28px;
}
#u4022 {
  position:absolute;
  left:989px;
  top:0px;
  width:67px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4023 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u4024_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:62px;
  height:28px;
}
#u4024 {
  position:absolute;
  left:1056px;
  top:0px;
  width:57px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4025 {
  position:absolute;
  left:2px;
  top:3px;
  width:53px;
  word-wrap:break-word;
}
#u4026_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:28px;
}
#u4026 {
  position:absolute;
  left:1113px;
  top:0px;
  width:61px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4027 {
  position:absolute;
  left:2px;
  top:3px;
  width:57px;
  word-wrap:break-word;
}
#u4028_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:72px;
  height:28px;
}
#u4028 {
  position:absolute;
  left:1174px;
  top:0px;
  width:67px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u4029 {
  position:absolute;
  left:2px;
  top:3px;
  width:63px;
  word-wrap:break-word;
}
#u4030_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:25px;
}
#u4030 {
  position:absolute;
  left:0px;
  top:23px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4031 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4032_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:25px;
}
#u4032 {
  position:absolute;
  left:23px;
  top:23px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4033 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:25px;
}
#u4034 {
  position:absolute;
  left:46px;
  top:23px;
  width:92px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4035 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4036_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:25px;
}
#u4036 {
  position:absolute;
  left:138px;
  top:23px;
  width:63px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4037 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4038_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:25px;
}
#u4038 {
  position:absolute;
  left:201px;
  top:23px;
  width:79px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4039 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4040_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:25px;
}
#u4040 {
  position:absolute;
  left:280px;
  top:23px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4041 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4042_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:25px;
}
#u4042 {
  position:absolute;
  left:341px;
  top:23px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4043 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4044_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:25px;
}
#u4044 {
  position:absolute;
  left:411px;
  top:23px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4045 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4046_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:25px;
}
#u4046 {
  position:absolute;
  left:480px;
  top:23px;
  width:76px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4047 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4048_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:25px;
}
#u4048 {
  position:absolute;
  left:556px;
  top:23px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4049 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4050_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:25px;
}
#u4050 {
  position:absolute;
  left:625px;
  top:23px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4051 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4052_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:92px;
  height:25px;
}
#u4052 {
  position:absolute;
  left:686px;
  top:23px;
  width:87px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4053 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4054_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:111px;
  height:25px;
}
#u4054 {
  position:absolute;
  left:773px;
  top:23px;
  width:106px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4055 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4056_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:115px;
  height:25px;
}
#u4056 {
  position:absolute;
  left:879px;
  top:23px;
  width:110px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4057 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4058_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:72px;
  height:25px;
}
#u4058 {
  position:absolute;
  left:989px;
  top:23px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4059 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4060_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:62px;
  height:25px;
}
#u4060 {
  position:absolute;
  left:1056px;
  top:23px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4061 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4062_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:25px;
}
#u4062 {
  position:absolute;
  left:1113px;
  top:23px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4063 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:72px;
  height:25px;
}
#u4064 {
  position:absolute;
  left:1174px;
  top:23px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4065 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4066_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:25px;
}
#u4066 {
  position:absolute;
  left:0px;
  top:43px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4067 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4068_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:25px;
}
#u4068 {
  position:absolute;
  left:23px;
  top:43px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4069 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:25px;
}
#u4070 {
  position:absolute;
  left:46px;
  top:43px;
  width:92px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4071 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4072_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:25px;
}
#u4072 {
  position:absolute;
  left:138px;
  top:43px;
  width:63px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4073 {
  position:absolute;
  left:2px;
  top:2px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4074_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:25px;
}
#u4074 {
  position:absolute;
  left:201px;
  top:43px;
  width:79px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4075 {
  position:absolute;
  left:2px;
  top:2px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:25px;
}
#u4076 {
  position:absolute;
  left:280px;
  top:43px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4077 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:25px;
}
#u4078 {
  position:absolute;
  left:341px;
  top:43px;
  width:70px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4079 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4080_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:25px;
}
#u4080 {
  position:absolute;
  left:411px;
  top:43px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4081 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4082_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:25px;
}
#u4082 {
  position:absolute;
  left:480px;
  top:43px;
  width:76px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4083 {
  position:absolute;
  left:2px;
  top:2px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4084_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:25px;
}
#u4084 {
  position:absolute;
  left:556px;
  top:43px;
  width:69px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4085 {
  position:absolute;
  left:2px;
  top:2px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4086_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:25px;
}
#u4086 {
  position:absolute;
  left:625px;
  top:43px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4087 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:92px;
  height:25px;
}
#u4088 {
  position:absolute;
  left:686px;
  top:43px;
  width:87px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4089 {
  position:absolute;
  left:2px;
  top:2px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:111px;
  height:25px;
}
#u4090 {
  position:absolute;
  left:773px;
  top:43px;
  width:106px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4091 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4092_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:115px;
  height:25px;
}
#u4092 {
  position:absolute;
  left:879px;
  top:43px;
  width:110px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4093 {
  position:absolute;
  left:2px;
  top:2px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4094_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:72px;
  height:25px;
}
#u4094 {
  position:absolute;
  left:989px;
  top:43px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4095 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4096_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:62px;
  height:25px;
}
#u4096 {
  position:absolute;
  left:1056px;
  top:43px;
  width:57px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4097 {
  position:absolute;
  left:2px;
  top:2px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4098_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:25px;
}
#u4098 {
  position:absolute;
  left:1113px;
  top:43px;
  width:61px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4099 {
  position:absolute;
  left:2px;
  top:2px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4100_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:72px;
  height:25px;
}
#u4100 {
  position:absolute;
  left:1174px;
  top:43px;
  width:67px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4101 {
  position:absolute;
  left:2px;
  top:2px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4102_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:516px;
}
#u4102 {
  position:absolute;
  left:0px;
  top:63px;
  width:23px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4103 {
  position:absolute;
  left:2px;
  top:248px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4104_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:28px;
  height:516px;
}
#u4104 {
  position:absolute;
  left:23px;
  top:63px;
  width:23px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4105 {
  position:absolute;
  left:2px;
  top:248px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4106_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:97px;
  height:516px;
}
#u4106 {
  position:absolute;
  left:46px;
  top:63px;
  width:92px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4107 {
  position:absolute;
  left:2px;
  top:248px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4108_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:68px;
  height:516px;
}
#u4108 {
  position:absolute;
  left:138px;
  top:63px;
  width:63px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4109 {
  position:absolute;
  left:2px;
  top:248px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4110_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:84px;
  height:516px;
}
#u4110 {
  position:absolute;
  left:201px;
  top:63px;
  width:79px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4111 {
  position:absolute;
  left:2px;
  top:248px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4112_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:516px;
}
#u4112 {
  position:absolute;
  left:280px;
  top:63px;
  width:61px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4113 {
  position:absolute;
  left:2px;
  top:248px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4114_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:75px;
  height:516px;
}
#u4114 {
  position:absolute;
  left:341px;
  top:63px;
  width:70px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4115 {
  position:absolute;
  left:2px;
  top:248px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4116_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:516px;
}
#u4116 {
  position:absolute;
  left:411px;
  top:63px;
  width:69px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4117 {
  position:absolute;
  left:2px;
  top:248px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4118_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:81px;
  height:516px;
}
#u4118 {
  position:absolute;
  left:480px;
  top:63px;
  width:76px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4119 {
  position:absolute;
  left:2px;
  top:248px;
  width:72px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4120_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:74px;
  height:516px;
}
#u4120 {
  position:absolute;
  left:556px;
  top:63px;
  width:69px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4121 {
  position:absolute;
  left:2px;
  top:248px;
  width:65px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4122_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:516px;
}
#u4122 {
  position:absolute;
  left:625px;
  top:63px;
  width:61px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4123 {
  position:absolute;
  left:2px;
  top:248px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:92px;
  height:516px;
}
#u4124 {
  position:absolute;
  left:686px;
  top:63px;
  width:87px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4125 {
  position:absolute;
  left:2px;
  top:248px;
  width:83px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4126_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:111px;
  height:516px;
}
#u4126 {
  position:absolute;
  left:773px;
  top:63px;
  width:106px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4127 {
  position:absolute;
  left:2px;
  top:248px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4128_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:115px;
  height:516px;
}
#u4128 {
  position:absolute;
  left:879px;
  top:63px;
  width:110px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4129 {
  position:absolute;
  left:2px;
  top:248px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4130_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:72px;
  height:516px;
}
#u4130 {
  position:absolute;
  left:989px;
  top:63px;
  width:67px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4131 {
  position:absolute;
  left:2px;
  top:248px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4132_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:62px;
  height:516px;
}
#u4132 {
  position:absolute;
  left:1056px;
  top:63px;
  width:57px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4133 {
  position:absolute;
  left:2px;
  top:248px;
  width:53px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4134_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:66px;
  height:516px;
}
#u4134 {
  position:absolute;
  left:1113px;
  top:63px;
  width:61px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4135 {
  position:absolute;
  left:2px;
  top:248px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4136_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:72px;
  height:516px;
}
#u4136 {
  position:absolute;
  left:1174px;
  top:63px;
  width:67px;
  height:511px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-align:center;
}
#u4137 {
  position:absolute;
  left:2px;
  top:248px;
  width:63px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138 {
  position:absolute;
  left:35px;
  top:29px;
  width:53px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4139 {
  position:absolute;
  left:16px;
  top:0px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4138_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4140_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:1283px;
  height:29px;
}
#u4140 {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:24px;
  text-align:left;
}
#u4141 {
  position:absolute;
  left:2px;
  top:4px;
  width:1274px;
  word-wrap:break-word;
}
#u4142_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:188px;
  height:25px;
}
#u4142 {
  position:absolute;
  left:577px;
  top:4px;
  width:183px;
  height:20px;
  font-family:'宋体 Regular', '宋体';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u4143 {
  position:absolute;
  left:0px;
  top:0px;
  width:183px;
  word-wrap:break-word;
}
#u4144 {
  position:absolute;
  left:140px;
  top:250px;
  visibility:hidden;
}
#u4144_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4144_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4145_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:275px;
  height:75px;
}
#u4145 {
  position:absolute;
  left:10px;
  top:20px;
  width:270px;
  height:70px;
  opacity:0.800000011920929;
  font-size:13px;
  text-align:left;
}
#u4146 {
  position:absolute;
  left:2px;
  top:27px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4147_img {
  position:absolute;
  left:-2px;
  top:-2px;
  width:215px;
  height:28px;
}
#u4147 {
  position:absolute;
  left:33px;
  top:31px;
  width:210px;
  height:23px;
  font-size:13px;
  color:#000000;
}
#u4148 {
  position:absolute;
  left:0px;
  top:0px;
  width:210px;
  word-wrap:break-word;
}
#u4149 {
  position:absolute;
  left:166px;
  top:56px;
  width:40px;
  height:20px;
}
#u4149_input {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4149_input {
  font-family:'应用字体';
}
#u4149_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:46px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4150 {
  position:absolute;
  left:218px;
  top:56px;
  width:50px;
  height:20px;
}
#u4150_input {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:20px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u4150_input {
  font-family:'应用字体';
}
#u4150_image_sketch {
  position:absolute;
  left:-3px;
  top:-3px;
  width:56px;
  height:26px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
