﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:10px;
  top:10px;
  width:1140px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:1136px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1031px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:1066px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:21px;
  top:49px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:56px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:100px;
  top:52px;
  width:123px;
  height:22px;
}
#u10_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u10_input {
  font-family:'应用字体';
}
#u10_input:disabled {
  color:grayText;
}
#u10_ann {
  position:absolute;
  left:216px;
  top:48px;
  width:1px;
  height:1px;
}
#u11 {
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:100px;
  top:97px;
  width:120px;
  height:20px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13_input {
  font-family:'应用字体';
}
#u14 {
  position:absolute;
  left:287px;
  top:100px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:385px;
  top:97px;
  width:120px;
  height:20px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16_input {
  font-family:'应用字体';
}
#u17 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:100px;
  top:137px;
  width:120px;
  height:20px;
}
#u19_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u19_input {
  font-family:'应用字体';
}
#u20 {
  position:absolute;
  left:287px;
  top:140px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:385px;
  top:137px;
  width:120px;
  height:20px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22_input {
  font-family:'应用字体';
}
#u23 {
  position:absolute;
  left:48px;
  top:179px;
  width:32px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:100px;
  top:176px;
  width:120px;
  height:20px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25_input {
  font-family:'应用字体';
}
#u26 {
  position:absolute;
  left:287px;
  top:179px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:385px;
  top:176px;
  width:120px;
  height:20px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28_input {
  font-family:'应用字体';
}
#u29 {
  position:absolute;
  left:223px;
  top:100px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:223px;
  top:137px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:223px;
  top:177px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:507px;
  top:97px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:508px;
  top:137px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:508px;
  top:177px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:50px;
  top:220px;
  width:510px;
  height:38px;
  font-size:13px;
  color:#FF0000;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:39px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
