﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1005px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3907 {
  position:absolute;
  left:9px;
  top:152px;
  width:1043px;
  height:152px;
  overflow:hidden;
}
#u3907_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:152px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3907_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:23px;
}
#u3908 {
  position:absolute;
  left:4px;
  top:0px;
  width:1036px;
  height:22px;
  font-size:13px;
  text-align:left;
}
#u3909 {
  position:absolute;
  left:2px;
  top:2px;
  width:1032px;
  word-wrap:break-word;
}
#u3910 {
  position:absolute;
  left:5px;
  top:25px;
  width:1336px;
  height:100px;
}
#u3911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u3911 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3911_img.mouseOver {
}
#u3911.mouseOver {
}
#u3912 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u3913 {
  position:absolute;
  left:19px;
  top:0px;
  width:19px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3913_img.mouseOver {
}
#u3913.mouseOver {
}
#u3914 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u3915 {
  position:absolute;
  left:38px;
  top:0px;
  width:139px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3915_img.mouseOver {
}
#u3915.mouseOver {
}
#u3916 {
  position:absolute;
  left:2px;
  top:3px;
  width:135px;
  word-wrap:break-word;
}
#u3917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
}
#u3917 {
  position:absolute;
  left:177px;
  top:0px;
  width:140px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3917_img.mouseOver {
}
#u3917.mouseOver {
}
#u3918 {
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u3919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:24px;
}
#u3919 {
  position:absolute;
  left:317px;
  top:0px;
  width:148px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3919_img.mouseOver {
}
#u3919.mouseOver {
}
#u3920 {
  position:absolute;
  left:2px;
  top:3px;
  width:144px;
  word-wrap:break-word;
}
#u3921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
}
#u3921 {
  position:absolute;
  left:465px;
  top:0px;
  width:150px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3921_img.mouseOver {
}
#u3921.mouseOver {
}
#u3922 {
  position:absolute;
  left:2px;
  top:3px;
  width:146px;
  word-wrap:break-word;
}
#u3923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:24px;
}
#u3923 {
  position:absolute;
  left:615px;
  top:0px;
  width:148px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3923_img.mouseOver {
}
#u3923.mouseOver {
}
#u3924 {
  position:absolute;
  left:2px;
  top:3px;
  width:144px;
  word-wrap:break-word;
}
#u3925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u3925 {
  position:absolute;
  left:763px;
  top:0px;
  width:145px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3925_img.mouseOver {
}
#u3925.mouseOver {
}
#u3926 {
  position:absolute;
  left:2px;
  top:3px;
  width:141px;
  word-wrap:break-word;
}
#u3927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:24px;
}
#u3927 {
  position:absolute;
  left:908px;
  top:0px;
  width:423px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u3927_img.mouseOver {
}
#u3927.mouseOver {
}
#u3928 {
  position:absolute;
  left:2px;
  top:4px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u3929 {
  position:absolute;
  left:0px;
  top:23px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3930 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u3931 {
  position:absolute;
  left:19px;
  top:23px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3932 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
}
#u3933 {
  position:absolute;
  left:38px;
  top:23px;
  width:139px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3934 {
  position:absolute;
  left:2px;
  top:2px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u3935 {
  position:absolute;
  left:177px;
  top:23px;
  width:140px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3936 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
}
#u3937 {
  position:absolute;
  left:317px;
  top:23px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3938 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:21px;
}
#u3939 {
  position:absolute;
  left:465px;
  top:23px;
  width:150px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3940 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
}
#u3941 {
  position:absolute;
  left:615px;
  top:23px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3942 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u3943 {
  position:absolute;
  left:763px;
  top:23px;
  width:145px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3944 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:21px;
}
#u3945 {
  position:absolute;
  left:908px;
  top:23px;
  width:423px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3946 {
  position:absolute;
  left:2px;
  top:2px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u3947 {
  position:absolute;
  left:0px;
  top:43px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3948 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u3949 {
  position:absolute;
  left:19px;
  top:43px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3950 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u3951 {
  position:absolute;
  left:38px;
  top:43px;
  width:139px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3952 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u3953 {
  position:absolute;
  left:177px;
  top:43px;
  width:140px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3954 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u3955 {
  position:absolute;
  left:317px;
  top:43px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3956 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u3957 {
  position:absolute;
  left:465px;
  top:43px;
  width:150px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3958 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u3959 {
  position:absolute;
  left:615px;
  top:43px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3960 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
}
#u3961 {
  position:absolute;
  left:763px;
  top:43px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3962 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:27px;
}
#u3963 {
  position:absolute;
  left:908px;
  top:43px;
  width:423px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3964 {
  position:absolute;
  left:2px;
  top:5px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u3965 {
  position:absolute;
  left:0px;
  top:69px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3966 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u3967 {
  position:absolute;
  left:19px;
  top:69px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3968 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u3969 {
  position:absolute;
  left:38px;
  top:69px;
  width:139px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3970 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u3971 {
  position:absolute;
  left:177px;
  top:69px;
  width:140px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3972 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u3973 {
  position:absolute;
  left:317px;
  top:69px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3974 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u3975 {
  position:absolute;
  left:465px;
  top:69px;
  width:150px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3976 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u3977 {
  position:absolute;
  left:615px;
  top:69px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3978 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
}
#u3979 {
  position:absolute;
  left:763px;
  top:69px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3980 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3981_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:27px;
}
#u3981 {
  position:absolute;
  left:908px;
  top:69px;
  width:423px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u3982 {
  position:absolute;
  left:2px;
  top:5px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3907_ann {
  position:absolute;
  left:1044px;
  top:148px;
  width:1px;
  height:1px;
}
#u3983 {
  position:absolute;
  left:670px;
  top:44px;
  width:100px;
  height:17px;
}
#u3984 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3983_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3985 {
  position:absolute;
  left:760px;
  top:44px;
  width:100px;
  height:17px;
}
#u3986 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3985_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u3985_ann {
  position:absolute;
  left:853px;
  top:40px;
  width:1px;
  height:1px;
}
#u3987 {
  position:absolute;
  left:70px;
  top:74px;
  width:730px;
  height:50px;
}
#u3987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:50px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3987_input {
  font-family:'应用字体';
}
#u3987_ann {
  position:absolute;
  left:793px;
  top:70px;
  width:1px;
  height:1px;
}
#u3988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:18px;
}
#u3988 {
  position:absolute;
  left:-46px;
  top:77px;
  width:103px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u3989 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u3990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u3990 {
  position:absolute;
  left:1px;
  top:0px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u3991 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u3992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3993 {
  position:absolute;
  left:992px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3993_ann {
  position:absolute;
  left:1009px;
  top:-3px;
  width:1px;
  height:1px;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3995 {
  position:absolute;
  left:1027px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:2px;
}
#u3997 {
  position:absolute;
  left:8px;
  top:141px;
  width:1032px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u3998 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u3999 {
  position:absolute;
  left:9px;
  top:44px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u4000 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4001 {
  position:absolute;
  left:69px;
  top:41px;
  width:120px;
  height:20px;
}
#u4001_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4001_input {
  font-family:'应用字体';
}
#u4001_ann {
  position:absolute;
  left:182px;
  top:37px;
  width:1px;
  height:1px;
}
#u4002 {
  position:absolute;
  left:272px;
  top:39px;
  width:123px;
  height:22px;
}
#u4002_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u4002_input {
  font-family:'应用字体';
}
#u4002_input:disabled {
  color:grayText;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u4003 {
  position:absolute;
  left:186px;
  top:42px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u4005 {
  position:absolute;
  left:492px;
  top:38px;
  width:123px;
  height:22px;
}
#u4005_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u4005_input {
  font-family:'应用字体';
}
#u4005_input:disabled {
  color:grayText;
}
#u4006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u4006 {
  position:absolute;
  left:407px;
  top:41px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u4007 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
