﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1143px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3517_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:30px;
}
#u3517 {
  position:absolute;
  left:10px;
  top:10px;
  width:1140px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u3518 {
  position:absolute;
  left:2px;
  top:4px;
  width:1136px;
  word-wrap:break-word;
}
#u3519 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3520_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3520 {
  position:absolute;
  left:1031px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3521 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u3522 {
  position:absolute;
  left:1066px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u3523 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3524_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u3524 {
  position:absolute;
  left:-7px;
  top:68px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u3525 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3526_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u3526 {
  position:absolute;
  left:-7px;
  top:159px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u3527 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3528 {
  position:absolute;
  left:83px;
  top:159px;
  width:386px;
  height:56px;
}
#u3528_input {
  position:absolute;
  left:0px;
  top:0px;
  width:386px;
  height:56px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3528_input {
  font-family:'应用字体';
}
#u3529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u3529 {
  position:absolute;
  left:-7px;
  top:112px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u3530 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3531 {
  position:absolute;
  left:83px;
  top:109px;
  width:120px;
  height:20px;
}
#u3531_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3531_input {
  font-family:'应用字体';
}
#u3531_input:disabled {
  color:grayText;
}
#u3531_ann {
  position:absolute;
  left:196px;
  top:105px;
  width:1px;
  height:1px;
}
#u3532_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u3532 {
  position:absolute;
  left:248px;
  top:112px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u3533 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3534 {
  position:absolute;
  left:343px;
  top:109px;
  width:120px;
  height:20px;
}
#u3534_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3534_input {
  font-family:'应用字体';
}
#u3535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u3535 {
  position:absolute;
  left:248px;
  top:68px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u3536 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u3537 {
  position:absolute;
  left:83px;
  top:68px;
  width:120px;
  height:20px;
}
#u3537_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3537_input {
  font-family:'应用字体';
}
#u3538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:2px;
}
#u3538 {
  position:absolute;
  left:9px;
  top:40px;
  width:1141px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u3539 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3540 {
  position:absolute;
  left:343px;
  top:68px;
  width:120px;
  height:20px;
}
#u3540_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u3540_input {
  font-family:'应用字体';
}
#u3540_input:disabled {
  color:grayText;
}
#u3541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:18px;
}
#u3541 {
  position:absolute;
  left:470px;
  top:112px;
  width:16px;
  height:17px;
  color:#1E1E1E;
  text-align:right;
}
#u3542 {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  word-wrap:break-word;
}
