﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1051px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u838 {
  position:absolute;
  left:9px;
  top:126px;
  width:1043px;
  height:152px;
  overflow:hidden;
}
#u838_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1043px;
  height:152px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u838_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:23px;
}
#u839 {
  position:absolute;
  left:4px;
  top:0px;
  width:1036px;
  height:22px;
  font-size:13px;
  text-align:left;
}
#u840 {
  position:absolute;
  left:2px;
  top:2px;
  width:1032px;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:5px;
  top:22px;
  width:1188px;
  height:100px;
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u842 {
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u842_img.mouseOver {
}
#u842.mouseOver {
}
#u843 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:24px;
}
#u844 {
  position:absolute;
  left:19px;
  top:0px;
  width:19px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u844_img.mouseOver {
}
#u844.mouseOver {
}
#u845 {
  position:absolute;
  left:2px;
  top:4px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:24px;
}
#u846 {
  position:absolute;
  left:38px;
  top:0px;
  width:148px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u846_img.mouseOver {
}
#u846.mouseOver {
}
#u847 {
  position:absolute;
  left:2px;
  top:3px;
  width:144px;
  word-wrap:break-word;
}
#u848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u848 {
  position:absolute;
  left:186px;
  top:0px;
  width:139px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u848_img.mouseOver {
}
#u848.mouseOver {
}
#u849 {
  position:absolute;
  left:2px;
  top:3px;
  width:135px;
  word-wrap:break-word;
}
#u850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:24px;
}
#u850 {
  position:absolute;
  left:325px;
  top:0px;
  width:140px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u850_img.mouseOver {
}
#u850.mouseOver {
}
#u851 {
  position:absolute;
  left:2px;
  top:3px;
  width:136px;
  word-wrap:break-word;
}
#u852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:24px;
}
#u852 {
  position:absolute;
  left:465px;
  top:0px;
  width:150px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u852_img.mouseOver {
}
#u852.mouseOver {
}
#u853 {
  position:absolute;
  left:2px;
  top:3px;
  width:146px;
  word-wrap:break-word;
}
#u854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:24px;
}
#u854 {
  position:absolute;
  left:615px;
  top:0px;
  width:145px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u854_img.mouseOver {
}
#u854.mouseOver {
}
#u855 {
  position:absolute;
  left:2px;
  top:3px;
  width:141px;
  word-wrap:break-word;
}
#u856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:24px;
}
#u856 {
  position:absolute;
  left:760px;
  top:0px;
  width:423px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u856_img.mouseOver {
}
#u856.mouseOver {
}
#u857 {
  position:absolute;
  left:2px;
  top:4px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u858 {
  position:absolute;
  left:0px;
  top:23px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u859 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:21px;
}
#u860 {
  position:absolute;
  left:19px;
  top:23px;
  width:19px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u861 {
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
}
#u862 {
  position:absolute;
  left:38px;
  top:23px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u863 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:21px;
}
#u864 {
  position:absolute;
  left:186px;
  top:23px;
  width:139px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u865 {
  position:absolute;
  left:2px;
  top:2px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:21px;
}
#u866 {
  position:absolute;
  left:325px;
  top:23px;
  width:140px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u867 {
  position:absolute;
  left:2px;
  top:2px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:21px;
}
#u868 {
  position:absolute;
  left:465px;
  top:23px;
  width:150px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u869 {
  position:absolute;
  left:2px;
  top:2px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:21px;
}
#u870 {
  position:absolute;
  left:615px;
  top:23px;
  width:145px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u871 {
  position:absolute;
  left:2px;
  top:2px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u872_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:21px;
}
#u872 {
  position:absolute;
  left:760px;
  top:23px;
  width:423px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u873 {
  position:absolute;
  left:2px;
  top:2px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u874_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u874 {
  position:absolute;
  left:0px;
  top:43px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u875 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u876_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u876 {
  position:absolute;
  left:19px;
  top:43px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u877 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u878 {
  position:absolute;
  left:38px;
  top:43px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u879 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u880_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u880 {
  position:absolute;
  left:186px;
  top:43px;
  width:139px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u881 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u882 {
  position:absolute;
  left:325px;
  top:43px;
  width:140px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u883 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u884 {
  position:absolute;
  left:465px;
  top:43px;
  width:150px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u885 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u886_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
}
#u886 {
  position:absolute;
  left:615px;
  top:43px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u887 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:27px;
}
#u888 {
  position:absolute;
  left:760px;
  top:43px;
  width:423px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u889 {
  position:absolute;
  left:2px;
  top:5px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u890_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u890 {
  position:absolute;
  left:0px;
  top:69px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u891 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u892_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:27px;
}
#u892 {
  position:absolute;
  left:19px;
  top:69px;
  width:19px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u893 {
  position:absolute;
  left:2px;
  top:5px;
  width:15px;
  visibility:hidden;
  word-wrap:break-word;
}
#u894_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u894 {
  position:absolute;
  left:38px;
  top:69px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u895 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u896_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:27px;
}
#u896 {
  position:absolute;
  left:186px;
  top:69px;
  width:139px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u897 {
  position:absolute;
  left:2px;
  top:5px;
  width:135px;
  visibility:hidden;
  word-wrap:break-word;
}
#u898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:27px;
}
#u898 {
  position:absolute;
  left:325px;
  top:69px;
  width:140px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u899 {
  position:absolute;
  left:2px;
  top:5px;
  width:136px;
  visibility:hidden;
  word-wrap:break-word;
}
#u900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:27px;
}
#u900 {
  position:absolute;
  left:465px;
  top:69px;
  width:150px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u901 {
  position:absolute;
  left:2px;
  top:5px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:146px;
  height:27px;
}
#u902 {
  position:absolute;
  left:615px;
  top:69px;
  width:145px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u903 {
  position:absolute;
  left:2px;
  top:5px;
  width:141px;
  visibility:hidden;
  word-wrap:break-word;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:424px;
  height:27px;
}
#u904 {
  position:absolute;
  left:760px;
  top:69px;
  width:423px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u905 {
  position:absolute;
  left:2px;
  top:5px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838_ann {
  position:absolute;
  left:1044px;
  top:122px;
  width:1px;
  height:1px;
}
#u906 {
  position:absolute;
  left:850px;
  top:41px;
  width:100px;
  height:17px;
}
#u907 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u906_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u908 {
  position:absolute;
  left:940px;
  top:41px;
  width:100px;
  height:17px;
}
#u909 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u908_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u908_ann {
  position:absolute;
  left:1033px;
  top:37px;
  width:1px;
  height:1px;
}
#u910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u910 {
  position:absolute;
  left:1px;
  top:0px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u911 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u912 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u913 {
  position:absolute;
  left:992px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u914 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u915 {
  position:absolute;
  left:1027px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u916 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:2px;
}
#u917 {
  position:absolute;
  left:8px;
  top:115px;
  width:1032px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u918 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u919 {
  position:absolute;
  left:9px;
  top:45px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u920 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u921 {
  position:absolute;
  left:89px;
  top:42px;
  width:120px;
  height:20px;
}
#u921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u921_input {
  font-family:'应用字体';
}
#u921_ann {
  position:absolute;
  left:202px;
  top:38px;
  width:1px;
  height:1px;
}
#u922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u922 {
  position:absolute;
  left:614px;
  top:43px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u923 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u924 {
  position:absolute;
  left:698px;
  top:40px;
  width:123px;
  height:22px;
}
#u924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u924_input {
  font-family:'应用字体';
}
#u924_input:disabled {
  color:grayText;
}
#u925 {
  position:absolute;
  left:292px;
  top:40px;
  width:123px;
  height:22px;
}
#u925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u925_input {
  font-family:'应用字体';
}
#u925_input:disabled {
  color:grayText;
}
#u926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u926 {
  position:absolute;
  left:206px;
  top:43px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u927 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u928 {
  position:absolute;
  left:512px;
  top:39px;
  width:123px;
  height:22px;
}
#u928_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u928_input {
  font-family:'应用字体';
}
#u928_input:disabled {
  color:grayText;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u929 {
  position:absolute;
  left:427px;
  top:42px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u930 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u931 {
  position:absolute;
  left:90px;
  top:83px;
  width:730px;
  height:20px;
}
#u931_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u931_input {
  font-family:'应用字体';
}
#u932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u932 {
  position:absolute;
  left:2px;
  top:85px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u933 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
