﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1089px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:561px;
}
#u1676 {
  position:absolute;
  left:0px;
  top:-7px;
  width:1100px;
  height:560px;
  opacity:0.100000001490116;
}
#u1677 {
  position:absolute;
  left:2px;
  top:272px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1678_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:30px;
}
#u1678 {
  position:absolute;
  left:1px;
  top:0px;
  width:1099px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u1679 {
  position:absolute;
  left:2px;
  top:4px;
  width:1095px;
  word-wrap:break-word;
}
#u1680 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1681 {
  position:absolute;
  left:1034px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1682 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1683 {
  position:absolute;
  left:1069px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1684 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1685 {
  position:absolute;
  left:-9px;
  top:43px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1686 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1687 {
  position:absolute;
  left:82px;
  top:43px;
  width:124px;
  height:20px;
}
#u1687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1687_input {
  font-family:'应用字体';
}
#u1688 {
  position:absolute;
  left:1px;
  top:174px;
  width:1100px;
  height:126px;
  overflow:hidden;
}
#u1688_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1100px;
  height:126px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1688_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u1689 {
  position:absolute;
  left:48px;
  top:9px;
  width:169px;
  height:16px;
}
#u1690 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1691 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1692_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:100px;
}
#u1692 {
  position:absolute;
  left:0px;
  top:3px;
  width:1100px;
  height:99px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1693 {
  position:absolute;
  left:2px;
  top:42px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1694 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1695 {
  position:absolute;
  left:9px;
  top:25px;
  width:1217px;
  height:100px;
}
#u1696_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u1696 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1696_img.mouseOver {
}
#u1696.mouseOver {
}
#u1697 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1698_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:22px;
}
#u1698 {
  position:absolute;
  left:33px;
  top:0px;
  width:33px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1698_img.mouseOver {
}
#u1698.mouseOver {
}
#u1699 {
  position:absolute;
  left:2px;
  top:2px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
}
#u1700 {
  position:absolute;
  left:66px;
  top:0px;
  width:130px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1700_img.mouseOver {
}
#u1700.mouseOver {
}
#u1701 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u1702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:22px;
}
#u1702 {
  position:absolute;
  left:196px;
  top:0px;
  width:130px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1702_img.mouseOver {
}
#u1702.mouseOver {
}
#u1703 {
  position:absolute;
  left:2px;
  top:2px;
  width:126px;
  word-wrap:break-word;
}
#u1704_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:22px;
}
#u1704 {
  position:absolute;
  left:326px;
  top:0px;
  width:121px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1704_img.mouseOver {
}
#u1704.mouseOver {
}
#u1705 {
  position:absolute;
  left:2px;
  top:2px;
  width:117px;
  word-wrap:break-word;
}
#u1706_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:22px;
}
#u1706 {
  position:absolute;
  left:447px;
  top:0px;
  width:114px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1706_img.mouseOver {
}
#u1706.mouseOver {
}
#u1707 {
  position:absolute;
  left:2px;
  top:2px;
  width:110px;
  word-wrap:break-word;
}
#u1708_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u1708 {
  position:absolute;
  left:561px;
  top:0px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1708_img.mouseOver {
}
#u1708.mouseOver {
}
#u1709 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u1710_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:22px;
}
#u1710 {
  position:absolute;
  left:678px;
  top:0px;
  width:115px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1710_img.mouseOver {
}
#u1710.mouseOver {
}
#u1711 {
  position:absolute;
  left:2px;
  top:2px;
  width:111px;
  word-wrap:break-word;
}
#u1710_ann {
  position:absolute;
  left:779px;
  top:0px;
  width:1px;
  height:1px;
}
#u1712_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u1712 {
  position:absolute;
  left:793px;
  top:0px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1712_img.mouseOver {
}
#u1712.mouseOver {
}
#u1713 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u1714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:22px;
}
#u1714 {
  position:absolute;
  left:909px;
  top:0px;
  width:303px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1714_img.mouseOver {
}
#u1714.mouseOver {
}
#u1715 {
  position:absolute;
  left:2px;
  top:2px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u1716 {
  position:absolute;
  left:0px;
  top:21px;
  width:33px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1717 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:24px;
}
#u1718 {
  position:absolute;
  left:33px;
  top:21px;
  width:33px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1719 {
  position:absolute;
  left:2px;
  top:4px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u1720 {
  position:absolute;
  left:66px;
  top:21px;
  width:130px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1721 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1722_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:24px;
}
#u1722 {
  position:absolute;
  left:196px;
  top:21px;
  width:130px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1723 {
  position:absolute;
  left:2px;
  top:4px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:24px;
}
#u1724 {
  position:absolute;
  left:326px;
  top:21px;
  width:121px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1725 {
  position:absolute;
  left:2px;
  top:4px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:24px;
}
#u1726 {
  position:absolute;
  left:447px;
  top:21px;
  width:114px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1727 {
  position:absolute;
  left:2px;
  top:4px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1728_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:24px;
}
#u1728 {
  position:absolute;
  left:561px;
  top:21px;
  width:117px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1729 {
  position:absolute;
  left:2px;
  top:4px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1730_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:24px;
}
#u1730 {
  position:absolute;
  left:678px;
  top:21px;
  width:115px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1731 {
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1732_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:24px;
}
#u1732 {
  position:absolute;
  left:793px;
  top:21px;
  width:116px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1733 {
  position:absolute;
  left:2px;
  top:4px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1734_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:24px;
}
#u1734 {
  position:absolute;
  left:909px;
  top:21px;
  width:303px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1735 {
  position:absolute;
  left:2px;
  top:4px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u1736 {
  position:absolute;
  left:0px;
  top:44px;
  width:33px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1737 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:30px;
}
#u1738 {
  position:absolute;
  left:33px;
  top:44px;
  width:33px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1739 {
  position:absolute;
  left:2px;
  top:6px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u1740 {
  position:absolute;
  left:66px;
  top:44px;
  width:130px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1741 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:30px;
}
#u1742 {
  position:absolute;
  left:196px;
  top:44px;
  width:130px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1743 {
  position:absolute;
  left:2px;
  top:6px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:30px;
}
#u1744 {
  position:absolute;
  left:326px;
  top:44px;
  width:121px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1745 {
  position:absolute;
  left:2px;
  top:6px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:30px;
}
#u1746 {
  position:absolute;
  left:447px;
  top:44px;
  width:114px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1747 {
  position:absolute;
  left:2px;
  top:6px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:30px;
}
#u1748 {
  position:absolute;
  left:561px;
  top:44px;
  width:117px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1749 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:30px;
}
#u1750 {
  position:absolute;
  left:678px;
  top:44px;
  width:115px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1751 {
  position:absolute;
  left:2px;
  top:6px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:30px;
}
#u1752 {
  position:absolute;
  left:793px;
  top:44px;
  width:116px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1753 {
  position:absolute;
  left:2px;
  top:6px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:30px;
}
#u1754 {
  position:absolute;
  left:909px;
  top:44px;
  width:303px;
  height:29px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1755 {
  position:absolute;
  left:2px;
  top:6px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u1756 {
  position:absolute;
  left:0px;
  top:73px;
  width:33px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1757 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1758_img {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:23px;
}
#u1758 {
  position:absolute;
  left:33px;
  top:73px;
  width:33px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1759 {
  position:absolute;
  left:2px;
  top:3px;
  width:29px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:23px;
}
#u1760 {
  position:absolute;
  left:66px;
  top:73px;
  width:130px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1761 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:23px;
}
#u1762 {
  position:absolute;
  left:196px;
  top:73px;
  width:130px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1763 {
  position:absolute;
  left:2px;
  top:3px;
  width:126px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:23px;
}
#u1764 {
  position:absolute;
  left:326px;
  top:73px;
  width:121px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1765 {
  position:absolute;
  left:2px;
  top:3px;
  width:117px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:23px;
}
#u1766 {
  position:absolute;
  left:447px;
  top:73px;
  width:114px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
  text-align:center;
}
#u1767 {
  position:absolute;
  left:2px;
  top:3px;
  width:110px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u1768 {
  position:absolute;
  left:561px;
  top:73px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1769 {
  position:absolute;
  left:2px;
  top:3px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1770_img {
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:23px;
}
#u1770 {
  position:absolute;
  left:678px;
  top:73px;
  width:115px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1771 {
  position:absolute;
  left:2px;
  top:3px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
}
#u1772 {
  position:absolute;
  left:793px;
  top:73px;
  width:116px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1773 {
  position:absolute;
  left:2px;
  top:3px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:23px;
}
#u1774 {
  position:absolute;
  left:909px;
  top:73px;
  width:303px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1775 {
  position:absolute;
  left:2px;
  top:3px;
  width:299px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776 {
  position:absolute;
  left:48px;
  top:27px;
  width:16px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1777 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1776_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
}
#u1778 {
  position:absolute;
  left:113px;
  top:5px;
  width:104px;
  height:13px;
}
#u1779 {
  position:absolute;
  left:2px;
  top:-2px;
  width:100px;
  word-wrap:break-word;
}
#u1780 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1781 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1782 {
  position:absolute;
  left:34px;
  top:3px;
  width:16px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1783 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u1784 {
  position:absolute;
  left:14px;
  top:3px;
  width:16px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1785 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1786_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1786 {
  position:absolute;
  left:59px;
  top:2px;
  width:17px;
  height:17px;
}
#u1787 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u1788 {
  position:absolute;
  left:79px;
  top:2px;
  width:17px;
  height:17px;
}
#u1789 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1790 {
  position:absolute;
  left:6px;
  top:248px;
  width:828px;
  height:257px;
  overflow:hidden;
  visibility:hidden;
}
#u1790_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:257px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1790_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:24px;
}
#u1791 {
  position:absolute;
  left:2px;
  top:0px;
  width:768px;
  height:23px;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
}
#u1792 {
  position:absolute;
  left:2px;
  top:0px;
  width:764px;
  word-wrap:break-word;
}
#u1793 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1794_img {
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:95px;
}
#u1794 {
  position:absolute;
  left:-1px;
  top:23px;
  width:771px;
  height:94px;
}
#u1795 {
  position:absolute;
  left:2px;
  top:39px;
  width:767px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:24px;
}
#u1796 {
  position:absolute;
  left:1px;
  top:92px;
  width:769px;
  height:23px;
  font-size:12px;
}
#u1797 {
  position:absolute;
  left:2px;
  top:3px;
  width:765px;
  word-wrap:break-word;
}
#u1798 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1799 {
  position:absolute;
  left:711px;
  top:0px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1800 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1801_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1801 {
  position:absolute;
  left:746px;
  top:0px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1802 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1803_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1803 {
  position:absolute;
  left:10px;
  top:35px;
  width:80px;
  height:17px;
  color:#000000;
}
#u1804 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1805 {
  position:absolute;
  left:90px;
  top:32px;
  width:120px;
  height:20px;
}
#u1805_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1805_input {
  font-family:'应用字体';
}
#u1806_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1806 {
  position:absolute;
  left:255px;
  top:35px;
  width:80px;
  height:17px;
  color:#000000;
}
#u1807 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1808_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u1808 {
  position:absolute;
  left:255px;
  top:64px;
  width:60px;
  height:17px;
  color:#000000;
}
#u1809 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u1810 {
  position:absolute;
  left:10px;
  top:63px;
  width:60px;
  height:17px;
  color:#000000;
}
#u1811 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u1812 {
  position:absolute;
  left:-5px;
  top:117px;
  width:776px;
  height:114px;
  overflow:hidden;
}
#u1812_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1812_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1813 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1814 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1815 {
  position:absolute;
  left:9px;
  top:5px;
  width:766px;
  height:110px;
}
#u1816_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1816_img.mouseOver {
}
#u1816.mouseOver {
}
#u1817 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1818_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u1818 {
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1818_img.mouseOver {
}
#u1818.mouseOver {
}
#u1819 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:24px;
}
#u1820 {
  position:absolute;
  left:40px;
  top:0px;
  width:148px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1820_img.mouseOver {
}
#u1820.mouseOver {
}
#u1821 {
  position:absolute;
  left:2px;
  top:3px;
  width:144px;
  word-wrap:break-word;
}
#u1822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
}
#u1822 {
  position:absolute;
  left:188px;
  top:0px;
  width:137px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1822_img.mouseOver {
}
#u1822.mouseOver {
}
#u1823 {
  position:absolute;
  left:2px;
  top:3px;
  width:133px;
  word-wrap:break-word;
}
#u1824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
}
#u1824 {
  position:absolute;
  left:325px;
  top:0px;
  width:154px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1824_img.mouseOver {
}
#u1824.mouseOver {
}
#u1825 {
  position:absolute;
  left:2px;
  top:3px;
  width:150px;
  word-wrap:break-word;
}
#u1826_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
}
#u1826 {
  position:absolute;
  left:479px;
  top:0px;
  width:131px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1826_img.mouseOver {
}
#u1826.mouseOver {
}
#u1827 {
  position:absolute;
  left:2px;
  top:3px;
  width:127px;
  word-wrap:break-word;
}
#u1828_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
}
#u1828 {
  position:absolute;
  left:610px;
  top:0px;
  width:151px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1828_img.mouseOver {
}
#u1828.mouseOver {
}
#u1829 {
  position:absolute;
  left:2px;
  top:4px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1830_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1830 {
  position:absolute;
  left:0px;
  top:23px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1831 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1832_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u1832 {
  position:absolute;
  left:20px;
  top:23px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1833 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1834_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
}
#u1834 {
  position:absolute;
  left:40px;
  top:23px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1835 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
}
#u1836 {
  position:absolute;
  left:188px;
  top:23px;
  width:137px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1837 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1838_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u1838 {
  position:absolute;
  left:325px;
  top:23px;
  width:154px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1839 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1840_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
}
#u1840 {
  position:absolute;
  left:479px;
  top:23px;
  width:131px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1841 {
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u1842 {
  position:absolute;
  left:610px;
  top:23px;
  width:151px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1843 {
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
}
#u1844 {
  position:absolute;
  left:0px;
  top:43px;
  width:20px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1845 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1846_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
}
#u1846 {
  position:absolute;
  left:20px;
  top:43px;
  width:20px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1847 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1848_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u1848 {
  position:absolute;
  left:40px;
  top:43px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1849 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1850_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
}
#u1850 {
  position:absolute;
  left:188px;
  top:43px;
  width:137px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1851 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1852_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u1852 {
  position:absolute;
  left:325px;
  top:43px;
  width:154px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1853 {
  position:absolute;
  left:2px;
  top:5px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1854_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:27px;
}
#u1854 {
  position:absolute;
  left:479px;
  top:43px;
  width:131px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1855 {
  position:absolute;
  left:2px;
  top:5px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1856_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
}
#u1856 {
  position:absolute;
  left:610px;
  top:43px;
  width:151px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1857 {
  position:absolute;
  left:2px;
  top:5px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1858_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u1858 {
  position:absolute;
  left:0px;
  top:69px;
  width:20px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1859 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u1860 {
  position:absolute;
  left:20px;
  top:69px;
  width:20px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1861 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
}
#u1862 {
  position:absolute;
  left:40px;
  top:69px;
  width:148px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1863 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u1864 {
  position:absolute;
  left:188px;
  top:69px;
  width:137px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1865 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1866_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:37px;
}
#u1866 {
  position:absolute;
  left:325px;
  top:69px;
  width:154px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1867 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u1868 {
  position:absolute;
  left:479px;
  top:69px;
  width:131px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1869 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1870_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:37px;
}
#u1870 {
  position:absolute;
  left:610px;
  top:69px;
  width:151px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1871 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872 {
  position:absolute;
  left:28px;
  top:5px;
  width:59px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1873 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1872_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u1874 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1875 {
  position:absolute;
  left:471px;
  top:36px;
  width:1px;
  height:50px;
}
#u1876 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u1877 {
  position:absolute;
  left:481px;
  top:33px;
  width:53px;
  height:53px;
}
#u1877_img.mouseOver {
}
#u1877.mouseOver {
}
#u1877_img.mouseDown {
}
#u1877.mouseDown {
}
#u1878 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u1879 {
  position:absolute;
  left:335px;
  top:32px;
  width:120px;
  height:20px;
}
#u1879_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1879_input {
  font-family:'应用字体';
}
#u1880 {
  position:absolute;
  left:335px;
  top:62px;
  width:120px;
  height:20px;
}
#u1880_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1880_input {
  font-family:'应用字体';
}
#u1881 {
  position:absolute;
  left:90px;
  top:62px;
  width:120px;
  height:20px;
}
#u1881_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1881_input {
  font-family:'应用字体';
}
#u1882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u1882 {
  position:absolute;
  left:6px;
  top:150px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u1883 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1884_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1884 {
  position:absolute;
  left:-9px;
  top:110px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1885 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1886 {
  position:absolute;
  left:80px;
  top:106px;
  width:124px;
  height:20px;
}
#u1886_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1886_input {
  font-family:'应用字体';
}
#u1886_ann {
  position:absolute;
  left:197px;
  top:102px;
  width:1px;
  height:1px;
}
#u1887 {
  position:absolute;
  left:305px;
  top:74px;
  width:123px;
  height:20px;
}
#u1887_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u1887_input {
  font-family:'应用字体';
}
#u1887_input:disabled {
  color:grayText;
}
#u1887_ann {
  position:absolute;
  left:421px;
  top:70px;
  width:1px;
  height:1px;
}
#u1888_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1888 {
  position:absolute;
  left:212px;
  top:78px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1889 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1890 {
  position:absolute;
  left:82px;
  top:74px;
  width:123px;
  height:20px;
}
#u1890_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u1890_input {
  font-family:'应用字体';
}
#u1890_input:disabled {
  color:grayText;
}
#u1891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1891 {
  position:absolute;
  left:-8px;
  top:84px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1892 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:18px;
}
#u1893 {
  position:absolute;
  left:460px;
  top:137px;
  width:57px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1894 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u1895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1895 {
  position:absolute;
  left:-10px;
  top:139px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1896 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1897 {
  position:absolute;
  left:80px;
  top:139px;
  width:344px;
  height:20px;
}
#u1897_input {
  position:absolute;
  left:0px;
  top:0px;
  width:344px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1897_input {
  font-family:'应用字体';
}
#u1898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1898 {
  position:absolute;
  left:216px;
  top:43px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1899 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:21px;
}
#u1900 {
  position:absolute;
  left:305px;
  top:43px;
  width:123px;
  height:20px;
}
#u1901 {
  position:absolute;
  left:2px;
  top:2px;
  width:119px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1900_ann {
  position:absolute;
  left:421px;
  top:39px;
  width:1px;
  height:1px;
}
#u1902 {
  position:absolute;
  left:0px;
  top:326px;
  width:601px;
  height:212px;
  overflow:hidden;
  visibility:hidden;
}
#u1902_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:601px;
  height:212px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u1902_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:599px;
  height:24px;
}
#u1903 {
  position:absolute;
  left:2px;
  top:0px;
  width:598px;
  height:23px;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
}
#u1904 {
  position:absolute;
  left:2px;
  top:0px;
  width:594px;
  word-wrap:break-word;
}
#u1905 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:95px;
}
#u1906 {
  position:absolute;
  left:-1px;
  top:23px;
  width:601px;
  height:94px;
}
#u1907 {
  position:absolute;
  left:2px;
  top:39px;
  width:597px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:24px;
}
#u1908 {
  position:absolute;
  left:1px;
  top:92px;
  width:599px;
  height:23px;
  font-size:12px;
}
#u1909 {
  position:absolute;
  left:2px;
  top:3px;
  width:595px;
  word-wrap:break-word;
}
#u1910 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1911 {
  position:absolute;
  left:541px;
  top:0px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1912 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1913 {
  position:absolute;
  left:576px;
  top:0px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1914 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1915 {
  position:absolute;
  left:10px;
  top:35px;
  width:80px;
  height:17px;
  color:#000000;
}
#u1916 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1917 {
  position:absolute;
  left:90px;
  top:32px;
  width:120px;
  height:20px;
}
#u1917_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1917_input {
  font-family:'应用字体';
}
#u1918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1918 {
  position:absolute;
  left:10px;
  top:63px;
  width:80px;
  height:17px;
  color:#000000;
}
#u1919 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1920 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u1921 {
  position:absolute;
  left:247px;
  top:30px;
  width:1px;
  height:50px;
}
#u1922 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u1923 {
  position:absolute;
  left:257px;
  top:27px;
  width:53px;
  height:53px;
}
#u1923_img.mouseOver {
}
#u1923.mouseOver {
}
#u1923_img.mouseDown {
}
#u1923.mouseDown {
}
#u1924 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u1925 {
  position:absolute;
  left:90px;
  top:62px;
  width:120px;
  height:20px;
}
#u1925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1925_input {
  font-family:'应用字体';
}
#u1926 {
  position:absolute;
  left:0px;
  top:117px;
  width:605px;
  height:110px;
}
#u1927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u1927 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1927_img.mouseOver {
}
#u1927.mouseOver {
}
#u1928 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1929 {
  position:absolute;
  left:25px;
  top:0px;
  width:23px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1929_img.mouseOver {
}
#u1929.mouseOver {
}
#u1930 {
  position:absolute;
  left:2px;
  top:4px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:24px;
}
#u1931 {
  position:absolute;
  left:48px;
  top:0px;
  width:187px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1931_img.mouseOver {
}
#u1931.mouseOver {
}
#u1932 {
  position:absolute;
  left:2px;
  top:3px;
  width:183px;
  word-wrap:break-word;
}
#u1933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:24px;
}
#u1933 {
  position:absolute;
  left:235px;
  top:0px;
  width:172px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1933_img.mouseOver {
}
#u1933.mouseOver {
}
#u1934 {
  position:absolute;
  left:2px;
  top:3px;
  width:168px;
  word-wrap:break-word;
}
#u1935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:24px;
}
#u1935 {
  position:absolute;
  left:407px;
  top:0px;
  width:193px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u1935_img.mouseOver {
}
#u1935.mouseOver {
}
#u1936 {
  position:absolute;
  left:2px;
  top:4px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:21px;
}
#u1937 {
  position:absolute;
  left:0px;
  top:23px;
  width:25px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1938 {
  position:absolute;
  left:2px;
  top:2px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:21px;
}
#u1939 {
  position:absolute;
  left:25px;
  top:23px;
  width:23px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1940 {
  position:absolute;
  left:2px;
  top:2px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:21px;
}
#u1941 {
  position:absolute;
  left:48px;
  top:23px;
  width:187px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1942 {
  position:absolute;
  left:2px;
  top:2px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:21px;
}
#u1943 {
  position:absolute;
  left:235px;
  top:23px;
  width:172px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1944 {
  position:absolute;
  left:2px;
  top:2px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:21px;
}
#u1945 {
  position:absolute;
  left:407px;
  top:23px;
  width:193px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1946 {
  position:absolute;
  left:2px;
  top:2px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:27px;
}
#u1947 {
  position:absolute;
  left:0px;
  top:43px;
  width:25px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1948 {
  position:absolute;
  left:2px;
  top:5px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:27px;
}
#u1949 {
  position:absolute;
  left:25px;
  top:43px;
  width:23px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1950 {
  position:absolute;
  left:2px;
  top:5px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:27px;
}
#u1951 {
  position:absolute;
  left:48px;
  top:43px;
  width:187px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1952 {
  position:absolute;
  left:2px;
  top:5px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:27px;
}
#u1953 {
  position:absolute;
  left:235px;
  top:43px;
  width:172px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1954 {
  position:absolute;
  left:2px;
  top:5px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:27px;
}
#u1955 {
  position:absolute;
  left:407px;
  top:43px;
  width:193px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1956 {
  position:absolute;
  left:2px;
  top:5px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:37px;
}
#u1957 {
  position:absolute;
  left:0px;
  top:69px;
  width:25px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1958 {
  position:absolute;
  left:2px;
  top:10px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:37px;
}
#u1959 {
  position:absolute;
  left:25px;
  top:69px;
  width:23px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1960 {
  position:absolute;
  left:2px;
  top:10px;
  width:19px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:188px;
  height:37px;
}
#u1961 {
  position:absolute;
  left:48px;
  top:69px;
  width:187px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1962 {
  position:absolute;
  left:2px;
  top:10px;
  width:183px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1963_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:37px;
}
#u1963 {
  position:absolute;
  left:235px;
  top:69px;
  width:172px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1964 {
  position:absolute;
  left:2px;
  top:10px;
  width:168px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:194px;
  height:37px;
}
#u1965 {
  position:absolute;
  left:407px;
  top:69px;
  width:193px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u1966 {
  position:absolute;
  left:2px;
  top:10px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1069px;
  height:2px;
}
#u1967 {
  position:absolute;
  left:-11px;
  top:-7px;
  width:1068px;
  height:1px;
}
#u1968 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1064px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1969 {
  position:absolute;
  left:525px;
  top:137px;
  width:338px;
  height:20px;
}
#u1969_input {
  position:absolute;
  left:0px;
  top:0px;
  width:338px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1969_input {
  font-family:'应用字体';
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1101px;
  height:2px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:165px;
  width:1100px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u1971 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1096px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1972 {
  position:absolute;
  left:443px;
  top:43px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1973 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1974 {
  position:absolute;
  left:526px;
  top:43px;
  width:123px;
  height:20px;
}
#u1974_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1974_input {
  font-family:'应用字体';
}
#u1974_ann {
  position:absolute;
  left:642px;
  top:39px;
  width:1px;
  height:1px;
}
#u1975 {
  position:absolute;
  left:741px;
  top:43px;
  width:124px;
  height:20px;
}
#u1975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u1975_input {
  font-family:'应用字体';
}
#u1975_input:disabled {
  color:grayText;
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1976 {
  position:absolute;
  left:652px;
  top:43px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1978 {
  position:absolute;
  left:742px;
  top:80px;
  width:123px;
  height:20px;
}
#u1978_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u1978_input {
  font-family:'应用字体';
}
#u1978_input:disabled {
  color:grayText;
}
#u1979_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1979 {
  position:absolute;
  left:654px;
  top:84px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1981 {
  position:absolute;
  left:527px;
  top:76px;
  width:123px;
  height:20px;
}
#u1981_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u1981_input {
  font-family:'应用字体';
}
#u1981_input:disabled {
  color:grayText;
}
#u1982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1982 {
  position:absolute;
  left:442px;
  top:77px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1984 {
  position:absolute;
  left:214px;
  top:110px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1985 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1986 {
  position:absolute;
  left:305px;
  top:106px;
  width:124px;
  height:20px;
}
#u1986_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1986_input {
  font-family:'应用字体';
}
#u1987_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1987 {
  position:absolute;
  left:440px;
  top:110px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1989 {
  position:absolute;
  left:526px;
  top:110px;
  width:124px;
  height:20px;
}
#u1989_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1989_input {
  font-family:'应用字体';
}
