﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u6857 {
  position:absolute;
  left:4px;
  top:10px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u6858 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u6859 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6860_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6860 {
  position:absolute;
  left:995px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6861 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6860_ann {
  position:absolute;
  left:1012px;
  top:8px;
  width:1px;
  height:1px;
}
#u6862_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6862 {
  position:absolute;
  left:1030px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6863 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6864_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6864 {
  position:absolute;
  left:14px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6865 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6866 {
  position:absolute;
  left:81px;
  top:49px;
  width:120px;
  height:20px;
}
#u6866_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6866_input {
  font-family:'应用字体';
}
#u6867 {
  position:absolute;
  left:11px;
  top:160px;
  width:1046px;
  height:126px;
  overflow:hidden;
}
#u6867_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1046px;
  height:126px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6867_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6868_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u6868 {
  position:absolute;
  left:48px;
  top:9px;
  width:169px;
  height:16px;
}
#u6869 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6870 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:422px;
  height:121px;
}
#u6871 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:120px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6872 {
  position:absolute;
  left:2px;
  top:52px;
  width:417px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6873 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6874 {
  position:absolute;
  left:9px;
  top:22px;
  width:1036px;
  height:104px;
}
#u6875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u6875 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6875_img.mouseOver {
}
#u6875.mouseOver {
}
#u6876 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:23px;
}
#u6877 {
  position:absolute;
  left:29px;
  top:0px;
  width:29px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6877_img.mouseOver {
}
#u6877.mouseOver {
}
#u6878 {
  position:absolute;
  left:2px;
  top:3px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u6879 {
  position:absolute;
  left:58px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6879_img.mouseOver {
}
#u6879.mouseOver {
}
#u6880 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u6881_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u6881 {
  position:absolute;
  left:175px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6881_img.mouseOver {
}
#u6881.mouseOver {
}
#u6882 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u6883_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u6883 {
  position:absolute;
  left:292px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6883_img.mouseOver {
}
#u6883.mouseOver {
}
#u6884 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u6885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u6885 {
  position:absolute;
  left:409px;
  top:0px;
  width:94px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6885_img.mouseOver {
}
#u6885.mouseOver {
}
#u6886 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u6887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:23px;
}
#u6887 {
  position:absolute;
  left:503px;
  top:0px;
  width:117px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6887_img.mouseOver {
}
#u6887.mouseOver {
}
#u6888 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  word-wrap:break-word;
}
#u6889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:23px;
}
#u6889 {
  position:absolute;
  left:620px;
  top:0px;
  width:109px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6889_img.mouseOver {
}
#u6889.mouseOver {
}
#u6890 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  word-wrap:break-word;
}
#u6891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:23px;
}
#u6891 {
  position:absolute;
  left:729px;
  top:0px;
  width:94px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6891_img.mouseOver {
}
#u6891.mouseOver {
}
#u6892 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  word-wrap:break-word;
}
#u6893_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:23px;
}
#u6893 {
  position:absolute;
  left:823px;
  top:0px;
  width:116px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6893_img.mouseOver {
}
#u6893.mouseOver {
}
#u6894 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u6893_ann {
  position:absolute;
  left:925px;
  top:0px;
  width:1px;
  height:1px;
}
#u6895_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:23px;
}
#u6895 {
  position:absolute;
  left:939px;
  top:0px;
  width:92px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6895_img.mouseOver {
}
#u6895.mouseOver {
}
#u6896 {
  position:absolute;
  left:2px;
  top:3px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6897_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6897 {
  position:absolute;
  left:0px;
  top:22px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6898 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6899_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u6899 {
  position:absolute;
  left:29px;
  top:22px;
  width:29px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6900 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u6901 {
  position:absolute;
  left:58px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6902 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6903_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u6903 {
  position:absolute;
  left:175px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6904 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6905_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u6905 {
  position:absolute;
  left:292px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6906 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6907_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u6907 {
  position:absolute;
  left:409px;
  top:22px;
  width:94px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6908 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6909_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:21px;
}
#u6909 {
  position:absolute;
  left:503px;
  top:22px;
  width:117px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6910 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:21px;
}
#u6911 {
  position:absolute;
  left:620px;
  top:22px;
  width:109px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6912 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6911_ann {
  position:absolute;
  left:715px;
  top:22px;
  width:1px;
  height:1px;
}
#u6913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:21px;
}
#u6913 {
  position:absolute;
  left:729px;
  top:22px;
  width:94px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6914 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
}
#u6915 {
  position:absolute;
  left:823px;
  top:22px;
  width:116px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6916 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:21px;
}
#u6917 {
  position:absolute;
  left:939px;
  top:22px;
  width:92px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6918 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6919 {
  position:absolute;
  left:0px;
  top:42px;
  width:29px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6920 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:22px;
}
#u6921 {
  position:absolute;
  left:29px;
  top:42px;
  width:29px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6922 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u6923 {
  position:absolute;
  left:58px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6924 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u6925 {
  position:absolute;
  left:175px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6926 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u6927 {
  position:absolute;
  left:292px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6928 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u6929 {
  position:absolute;
  left:409px;
  top:42px;
  width:94px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6930 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:22px;
}
#u6931 {
  position:absolute;
  left:503px;
  top:42px;
  width:117px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6932 {
  position:absolute;
  left:2px;
  top:2px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:22px;
}
#u6933 {
  position:absolute;
  left:620px;
  top:42px;
  width:109px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6934 {
  position:absolute;
  left:2px;
  top:2px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:22px;
}
#u6935 {
  position:absolute;
  left:729px;
  top:42px;
  width:94px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6936 {
  position:absolute;
  left:2px;
  top:2px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6937 {
  position:absolute;
  left:823px;
  top:42px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6938 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:22px;
}
#u6939 {
  position:absolute;
  left:939px;
  top:42px;
  width:92px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6940 {
  position:absolute;
  left:2px;
  top:2px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:37px;
}
#u6941 {
  position:absolute;
  left:0px;
  top:63px;
  width:29px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6942 {
  position:absolute;
  left:2px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:37px;
}
#u6943 {
  position:absolute;
  left:29px;
  top:63px;
  width:29px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6944 {
  position:absolute;
  left:2px;
  top:10px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u6945 {
  position:absolute;
  left:58px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6946 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u6947 {
  position:absolute;
  left:175px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6948 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u6949 {
  position:absolute;
  left:292px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6950 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6951_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u6951 {
  position:absolute;
  left:409px;
  top:63px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6952 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6953_img {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:37px;
}
#u6953 {
  position:absolute;
  left:503px;
  top:63px;
  width:117px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6954 {
  position:absolute;
  left:2px;
  top:10px;
  width:113px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:37px;
}
#u6955 {
  position:absolute;
  left:620px;
  top:63px;
  width:109px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6956 {
  position:absolute;
  left:2px;
  top:10px;
  width:105px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6957_img {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:37px;
}
#u6957 {
  position:absolute;
  left:729px;
  top:63px;
  width:94px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6958 {
  position:absolute;
  left:2px;
  top:10px;
  width:90px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:37px;
}
#u6959 {
  position:absolute;
  left:823px;
  top:63px;
  width:116px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6960 {
  position:absolute;
  left:2px;
  top:10px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6961_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:37px;
}
#u6961 {
  position:absolute;
  left:939px;
  top:63px;
  width:92px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6962 {
  position:absolute;
  left:2px;
  top:10px;
  width:88px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6963 {
  position:absolute;
  left:44px;
  top:24px;
  width:14px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6964 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6963_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6965_img {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:14px;
}
#u6965 {
  position:absolute;
  left:-4px;
  top:2px;
  width:75px;
  height:13px;
}
#u6966 {
  position:absolute;
  left:2px;
  top:-2px;
  width:71px;
  word-wrap:break-word;
}
#u6967_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u6967 {
  position:absolute;
  left:10px;
  top:193px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u6968 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6969_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6969 {
  position:absolute;
  left:-6px;
  top:87px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6970 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6971 {
  position:absolute;
  left:78px;
  top:82px;
  width:123px;
  height:22px;
}
#u6971_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6971_input {
  font-family:'应用字体';
}
#u6971_input:disabled {
  color:grayText;
}
#u6972 {
  position:absolute;
  left:282px;
  top:49px;
  width:123px;
  height:22px;
}
#u6972_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6972_input {
  font-family:'应用字体';
}
#u6972_input:disabled {
  color:grayText;
}
#u6973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6973 {
  position:absolute;
  left:196px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6974 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6975 {
  position:absolute;
  left:81px;
  top:116px;
  width:730px;
  height:20px;
}
#u6975_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6975_input {
  font-family:'应用字体';
}
#u6976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6976 {
  position:absolute;
  left:-7px;
  top:118px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u6977 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u6978 {
  position:absolute;
  left:7px;
  top:40px;
  width:1050px;
  height:1px;
}
#u6979 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u6980 {
  position:absolute;
  left:6px;
  top:147px;
  width:1050px;
  height:1px;
}
#u6981 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6982 {
  position:absolute;
  left:199px;
  top:87px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6983 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6984 {
  position:absolute;
  left:283px;
  top:82px;
  width:123px;
  height:22px;
}
#u6984_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6984_input {
  font-family:'应用字体';
}
#u6984_input:disabled {
  color:grayText;
}
#u6985_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6985 {
  position:absolute;
  left:475px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6986 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6987 {
  position:absolute;
  left:519px;
  top:49px;
  width:120px;
  height:20px;
}
#u6987_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6987_input {
  font-family:'应用字体';
}
#u6988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u6988 {
  position:absolute;
  left:431px;
  top:87px;
  width:87px;
  height:17px;
  color:#FF0000;
}
#u6989 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6990 {
  position:absolute;
  left:519px;
  top:82px;
  width:120px;
  height:20px;
}
#u6990_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6990_input {
  font-family:'应用字体';
}
#u6991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6991 {
  position:absolute;
  left:633px;
  top:50px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6992 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6993 {
  position:absolute;
  left:717px;
  top:49px;
  width:123px;
  height:22px;
}
#u6993_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6993_input {
  font-family:'应用字体';
}
#u6993_input:disabled {
  color:grayText;
}
