﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1056px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7724_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1121px;
  height:611px;
}
#u7724 {
  position:absolute;
  left:-32px;
  top:0px;
  width:1120px;
  height:610px;
  opacity:0.100000001490116;
}
#u7725 {
  position:absolute;
  left:2px;
  top:297px;
  width:1116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7724_ann {
  position:absolute;
  left:1081px;
  top:-4px;
  width:1px;
  height:1px;
}
#u7726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:30px;
}
#u7726 {
  position:absolute;
  left:1px;
  top:1px;
  width:1069px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u7727 {
  position:absolute;
  left:2px;
  top:4px;
  width:1065px;
  word-wrap:break-word;
}
#u7728 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7729 {
  position:absolute;
  left:995px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7730 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7729_ann {
  position:absolute;
  left:1012px;
  top:8px;
  width:1px;
  height:1px;
}
#u7731_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u7731 {
  position:absolute;
  left:1030px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7732 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7733_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u7733 {
  position:absolute;
  left:12px;
  top:267px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u7734 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7735 {
  position:absolute;
  left:303px;
  top:51px;
  width:120px;
  height:20px;
}
#u7735_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7735_input {
  font-family:'应用字体';
}
#u7735_input:disabled {
  color:grayText;
}
#u7736_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7736 {
  position:absolute;
  left:220px;
  top:54px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u7737 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7738_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7738 {
  position:absolute;
  left:-6px;
  top:278px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u7739 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7740_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u7740 {
  position:absolute;
  left:2px;
  top:31px;
  width:1050px;
  height:1px;
}
#u7741 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7742_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u7742 {
  position:absolute;
  left:11px;
  top:435px;
  width:1050px;
  height:1px;
}
#u7743 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7744_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u7744 {
  position:absolute;
  left:16px;
  top:126px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u7745 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7746_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u7746 {
  position:absolute;
  left:81px;
  top:123px;
  width:120px;
  height:20px;
}
#u7747 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7746_ann {
  position:absolute;
  left:194px;
  top:119px;
  width:1px;
  height:1px;
}
#u7748_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u7748 {
  position:absolute;
  left:18px;
  top:89px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u7749 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7750_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u7750 {
  position:absolute;
  left:81px;
  top:86px;
  width:120px;
  height:20px;
}
#u7751 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7750_ann {
  position:absolute;
  left:194px;
  top:82px;
  width:1px;
  height:1px;
}
#u7752_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
#u7752 {
  position:absolute;
  left:30px;
  top:156px;
  width:70px;
  height:17px;
  color:#FF0000;
}
#u7753 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u7754_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u7754 {
  position:absolute;
  left:81px;
  top:153px;
  width:120px;
  height:20px;
}
#u7755 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7754_ann {
  position:absolute;
  left:194px;
  top:149px;
  width:1px;
  height:1px;
}
#u7756_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u7756 {
  position:absolute;
  left:251px;
  top:156px;
  width:58px;
  height:17px;
  color:#1E1E1E;
}
#u7757 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u7758 {
  position:absolute;
  left:303px;
  top:153px;
  width:120px;
  height:20px;
}
#u7758_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7758_input {
  font-family:'应用字体';
}
#u7759_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u7759 {
  position:absolute;
  left:714px;
  top:155px;
  width:90px;
  height:17px;
  color:#1E1E1E;
}
#u7760 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7761 {
  position:absolute;
  left:776px;
  top:153px;
  width:120px;
  height:20px;
}
#u7761_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7761_input {
  font-family:'应用字体';
}
#u7762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u7762 {
  position:absolute;
  left:490px;
  top:54px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u7763 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u7764 {
  position:absolute;
  left:542px;
  top:51px;
  width:120px;
  height:20px;
}
#u7764_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7764_input {
  font-family:'应用字体';
}
#u7764_ann {
  position:absolute;
  left:655px;
  top:47px;
  width:1px;
  height:1px;
}
#u7765_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u7765 {
  position:absolute;
  left:42px;
  top:230px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u7766 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7767 {
  position:absolute;
  left:543px;
  top:86px;
  width:120px;
  height:20px;
}
#u7767_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7767_input {
  font-family:'应用字体';
}
#u7767_input:disabled {
  color:grayText;
}
#u7767_ann {
  position:absolute;
  left:656px;
  top:82px;
  width:1px;
  height:1px;
}
#u7768_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7768 {
  position:absolute;
  left:458px;
  top:89px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u7769 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7770 {
  position:absolute;
  left:303px;
  top:81px;
  width:120px;
  height:20px;
}
#u7770_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7770_input {
  font-family:'应用字体';
}
#u7770_input:disabled {
  color:grayText;
}
#u7770_ann {
  position:absolute;
  left:416px;
  top:77px;
  width:1px;
  height:1px;
}
#u7771_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u7771 {
  position:absolute;
  left:207px;
  top:83px;
  width:90px;
  height:17px;
  color:#1E1E1E;
  text-align:right;
}
#u7772 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u7773 {
  position:absolute;
  left:776px;
  top:86px;
  width:120px;
  height:20px;
}
#u7773_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u7773_input {
  font-family:'应用字体';
}
#u7773_input:disabled {
  color:grayText;
}
#u7773_ann {
  position:absolute;
  left:889px;
  top:82px;
  width:1px;
  height:1px;
}
#u7774_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7774 {
  position:absolute;
  left:692px;
  top:89px;
  width:80px;
  height:17px;
  color:#1E1E1E;
  text-align:right;
}
#u7775 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7776_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7776 {
  position:absolute;
  left:724px;
  top:194px;
  width:80px;
  height:17px;
}
#u7777 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7778 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7779 {
  position:absolute;
  left:776px;
  top:191px;
  width:120px;
  height:20px;
}
#u7779_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7779_input {
  font-family:'应用字体';
}
#u7780_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u7780 {
  position:absolute;
  left:878px;
  top:193px;
  width:18px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7781 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7782_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7782 {
  position:absolute;
  left:469px;
  top:197px;
  width:80px;
  height:17px;
}
#u7783 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7784 {
  position:absolute;
  left:543px;
  top:194px;
  width:120px;
  height:20px;
}
#u7784_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7784_input {
  font-family:'应用字体';
}
#u7784_ann {
  position:absolute;
  left:656px;
  top:190px;
  width:1px;
  height:1px;
}
#u7785_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7785 {
  position:absolute;
  left:228px;
  top:197px;
  width:80px;
  height:17px;
}
#u7786 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7787 {
  position:absolute;
  left:303px;
  top:194px;
  width:120px;
  height:20px;
}
#u7787_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7787_input {
  font-family:'应用字体';
}
#u7787_ann {
  position:absolute;
  left:416px;
  top:190px;
  width:1px;
  height:1px;
}
#u7788_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7788 {
  position:absolute;
  left:251px;
  top:230px;
  width:80px;
  height:17px;
}
#u7789 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7790 {
  position:absolute;
  left:81px;
  top:227px;
  width:120px;
  height:20px;
}
#u7790_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7790_input {
  font-family:'应用字体';
}
#u7791 {
  position:absolute;
  left:82px;
  top:264px;
  width:359px;
  height:58px;
}
#u7791_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7791_input {
  font-family:'应用字体';
}
#u7792 {
  position:absolute;
  left:542px;
  top:225px;
  width:354px;
  height:22px;
}
#u7792_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7792_input {
  font-family:'应用字体';
}
#u7793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7793 {
  position:absolute;
  left:453px;
  top:229px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u7794 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7795 {
  position:absolute;
  left:543px;
  top:264px;
  width:246px;
  height:137px;
}
#u7795_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:137px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7795_input {
  font-family:'应用字体';
}
#u7796_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7796 {
  position:absolute;
  left:458px;
  top:271px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u7797 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7798_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u7798 {
  position:absolute;
  left:789px;
  top:382px;
  width:51px;
  height:19px;
}
#u7799 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u7800_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u7800 {
  position:absolute;
  left:845px;
  top:382px;
  width:51px;
  height:19px;
}
#u7801 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u7802_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7802 {
  position:absolute;
  left:-3px;
  top:349px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u7803 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7804 {
  position:absolute;
  left:82px;
  top:341px;
  width:359px;
  height:60px;
}
#u7804_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7804_input {
  font-family:'应用字体';
}
#u7805 {
  position:absolute;
  left:304px;
  top:229px;
  width:16px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u7806 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7805_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u7805_ann {
  position:absolute;
  left:313px;
  top:225px;
  width:1px;
  height:1px;
}
#u7807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u7807 {
  position:absolute;
  left:468px;
  top:119px;
  width:86px;
  height:17px;
  color:#1E1E1E;
}
#u7808 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7809 {
  position:absolute;
  left:543px;
  top:116px;
  width:120px;
  height:20px;
}
#u7809_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7809_input {
  font-family:'应用字体';
}
#u7810_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u7810 {
  position:absolute;
  left:239px;
  top:118px;
  width:86px;
  height:17px;
  color:#1E1E1E;
}
#u7811 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7812 {
  position:absolute;
  left:303px;
  top:116px;
  width:120px;
  height:20px;
}
#u7812_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7812_input {
  font-family:'应用字体';
}
#u7813_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u7813 {
  position:absolute;
  left:5px;
  top:194px;
  width:80px;
  height:17px;
}
#u7814 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u7815_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u7815 {
  position:absolute;
  left:81px;
  top:191px;
  width:120px;
  height:20px;
}
#u7816 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7815_ann {
  position:absolute;
  left:194px;
  top:187px;
  width:1px;
  height:1px;
}
#u7817_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u7817 {
  position:absolute;
  left:503px;
  top:156px;
  width:58px;
  height:17px;
  color:#1E1E1E;
}
#u7818 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u7819 {
  position:absolute;
  left:543px;
  top:153px;
  width:120px;
  height:20px;
}
#u7819_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7819_input {
  font-family:'应用字体';
}
#u7820_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u7820 {
  position:absolute;
  left:6px;
  top:54px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u7821 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u7822_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u7822 {
  position:absolute;
  left:81px;
  top:51px;
  width:120px;
  height:20px;
}
#u7823 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7822_ann {
  position:absolute;
  left:194px;
  top:47px;
  width:1px;
  height:1px;
}
#u7824_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u7824 {
  position:absolute;
  left:700px;
  top:54px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u7825 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u7826 {
  position:absolute;
  left:776px;
  top:51px;
  width:120px;
  height:20px;
}
#u7826_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7826_input {
  font-family:'应用字体';
}
#u7826_ann {
  position:absolute;
  left:889px;
  top:47px;
  width:1px;
  height:1px;
}
#u7827_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u7827 {
  position:absolute;
  left:711px;
  top:121px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u7828 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u7829 {
  position:absolute;
  left:776px;
  top:118px;
  width:120px;
  height:20px;
}
#u7829_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u7829_input {
  font-family:'应用字体';
}
