﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1150px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1757_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1141px;
  height:30px;
}
#u1757 {
  position:absolute;
  left:10px;
  top:10px;
  width:1140px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u1758 {
  position:absolute;
  left:2px;
  top:4px;
  width:1136px;
  word-wrap:break-word;
}
#u1759 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1760_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1760 {
  position:absolute;
  left:1031px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1761 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1762_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u1762 {
  position:absolute;
  left:1066px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u1763 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1764_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u1764 {
  position:absolute;
  left:21px;
  top:49px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u1765 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1766_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1766 {
  position:absolute;
  left:0px;
  top:56px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u1767 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1768 {
  position:absolute;
  left:100px;
  top:52px;
  width:123px;
  height:22px;
}
#u1768_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u1768_input {
  font-family:'应用字体';
}
#u1768_input:disabled {
  color:grayText;
}
#u1768_ann {
  position:absolute;
  left:216px;
  top:48px;
  width:1px;
  height:1px;
}
#u1769_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1769 {
  position:absolute;
  left:0px;
  top:100px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1770 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1771 {
  position:absolute;
  left:100px;
  top:97px;
  width:120px;
  height:20px;
}
#u1771_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1771_input {
  font-family:'应用字体';
}
#u1772_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1772 {
  position:absolute;
  left:287px;
  top:100px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1773 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1774 {
  position:absolute;
  left:385px;
  top:97px;
  width:120px;
  height:20px;
}
#u1774_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1774_input {
  font-family:'应用字体';
}
#u1775_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1775 {
  position:absolute;
  left:0px;
  top:140px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1776 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1777 {
  position:absolute;
  left:100px;
  top:137px;
  width:120px;
  height:20px;
}
#u1777_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1777_input {
  font-family:'应用字体';
}
#u1778_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1778 {
  position:absolute;
  left:287px;
  top:140px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1779 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1780 {
  position:absolute;
  left:385px;
  top:137px;
  width:120px;
  height:20px;
}
#u1780_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1780_input {
  font-family:'应用字体';
}
#u1781_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:18px;
}
#u1781 {
  position:absolute;
  left:48px;
  top:179px;
  width:32px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1782 {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  white-space:nowrap;
}
#u1783 {
  position:absolute;
  left:100px;
  top:176px;
  width:120px;
  height:20px;
}
#u1783_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1783_input {
  font-family:'应用字体';
}
#u1784_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u1784 {
  position:absolute;
  left:287px;
  top:179px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u1785 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u1786 {
  position:absolute;
  left:385px;
  top:176px;
  width:120px;
  height:20px;
}
#u1786_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1786_input {
  font-family:'应用字体';
}
#u1787_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1787 {
  position:absolute;
  left:223px;
  top:100px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u1788 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1789_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1789 {
  position:absolute;
  left:223px;
  top:137px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u1790 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1791_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1791 {
  position:absolute;
  left:223px;
  top:177px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u1792 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1793_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1793 {
  position:absolute;
  left:507px;
  top:97px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u1794 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1795_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1795 {
  position:absolute;
  left:508px;
  top:137px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u1796 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1797_img {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:20px;
}
#u1797 {
  position:absolute;
  left:508px;
  top:177px;
  width:27px;
  height:19px;
  font-size:13px;
}
#u1798 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  word-wrap:break-word;
}
#u1799_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:39px;
}
#u1799 {
  position:absolute;
  left:50px;
  top:220px;
  width:510px;
  height:38px;
  font-size:13px;
  color:#FF0000;
}
#u1800 {
  position:absolute;
  left:0px;
  top:0px;
  width:510px;
  word-wrap:break-word;
}
