﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1058px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8493_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1070px;
  height:30px;
}
#u8493 {
  position:absolute;
  left:1px;
  top:5px;
  width:1069px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u8494 {
  position:absolute;
  left:2px;
  top:4px;
  width:1065px;
  word-wrap:break-word;
}
#u8495 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8496 {
  position:absolute;
  left:995px;
  top:75px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8497 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8498_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8498 {
  position:absolute;
  left:1030px;
  top:75px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8499 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8500_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u8500 {
  position:absolute;
  left:3px;
  top:98px;
  width:1050px;
  height:1px;
}
#u8501 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8502_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8502 {
  position:absolute;
  left:0px;
  top:114px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8503 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8504 {
  position:absolute;
  left:73px;
  top:111px;
  width:120px;
  height:20px;
}
#u8504_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8504_input {
  font-family:'应用字体';
}
#u8505 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8506 {
  position:absolute;
  left:309px;
  top:109px;
  width:120px;
  height:20px;
}
#u8506_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8506_input {
  font-family:'应用字体';
}
#u8507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8507 {
  position:absolute;
  left:411px;
  top:111px;
  width:18px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8508 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8509_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8509 {
  position:absolute;
  left:223px;
  top:112px;
  width:86px;
  height:17px;
}
#u8510 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8511 {
  position:absolute;
  left:499px;
  top:113px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8512 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8513 {
  position:absolute;
  left:543px;
  top:110px;
  width:120px;
  height:20px;
}
#u8513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8513_input {
  font-family:'应用字体';
}
#u8514 {
  position:absolute;
  left:724px;
  top:44px;
  width:100px;
  height:17px;
}
#u8515 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8514_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8516 {
  position:absolute;
  left:814px;
  top:44px;
  width:100px;
  height:17px;
}
#u8517 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u8516_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8516_ann {
  position:absolute;
  left:907px;
  top:40px;
  width:1px;
  height:1px;
}
#u8518 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8519_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8519 {
  position:absolute;
  left:995px;
  top:121px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8520 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8519_ann {
  position:absolute;
  left:1012px;
  top:117px;
  width:1px;
  height:1px;
}
#u8521_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u8521 {
  position:absolute;
  left:1030px;
  top:121px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8522 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u8523 {
  position:absolute;
  left:2px;
  top:186px;
  width:1050px;
  height:1px;
}
#u8524 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8525 {
  position:absolute;
  left:-12px;
  top:149px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8526 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8527 {
  position:absolute;
  left:74px;
  top:138px;
  width:589px;
  height:42px;
}
#u8527_input {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8527_input {
  font-family:'应用字体';
}
#u8528_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8528 {
  position:absolute;
  left:-12px;
  top:57px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8529 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8530 {
  position:absolute;
  left:74px;
  top:46px;
  width:589px;
  height:42px;
}
#u8530_input {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:42px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8530_input {
  font-family:'应用字体';
}
#u8531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u8531 {
  position:absolute;
  left:6px;
  top:413px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u8532 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8533 {
  position:absolute;
  left:297px;
  top:197px;
  width:120px;
  height:20px;
}
#u8533_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u8533_input {
  font-family:'应用字体';
}
#u8533_input:disabled {
  color:grayText;
}
#u8534_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8534 {
  position:absolute;
  left:214px;
  top:200px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8535 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8536_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8536 {
  position:absolute;
  left:-12px;
  top:424px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u8537 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8538_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8538 {
  position:absolute;
  left:10px;
  top:272px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8539 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8540_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8540 {
  position:absolute;
  left:75px;
  top:269px;
  width:120px;
  height:20px;
}
#u8541 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8540_ann {
  position:absolute;
  left:188px;
  top:265px;
  width:1px;
  height:1px;
}
#u8542_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8542 {
  position:absolute;
  left:12px;
  top:235px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8543 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8544_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8544 {
  position:absolute;
  left:75px;
  top:232px;
  width:120px;
  height:20px;
}
#u8545 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8544_ann {
  position:absolute;
  left:188px;
  top:228px;
  width:1px;
  height:1px;
}
#u8546_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:18px;
}
#u8546 {
  position:absolute;
  left:24px;
  top:302px;
  width:70px;
  height:17px;
  color:#FF0000;
}
#u8547 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u8548_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8548 {
  position:absolute;
  left:75px;
  top:299px;
  width:120px;
  height:20px;
}
#u8549 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8548_ann {
  position:absolute;
  left:188px;
  top:295px;
  width:1px;
  height:1px;
}
#u8550_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8550 {
  position:absolute;
  left:245px;
  top:302px;
  width:58px;
  height:17px;
  color:#1E1E1E;
}
#u8551 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u8552 {
  position:absolute;
  left:297px;
  top:299px;
  width:120px;
  height:20px;
}
#u8552_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8552_input {
  font-family:'应用字体';
}
#u8553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u8553 {
  position:absolute;
  left:708px;
  top:301px;
  width:90px;
  height:17px;
  color:#1E1E1E;
}
#u8554 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u8555 {
  position:absolute;
  left:770px;
  top:299px;
  width:120px;
  height:20px;
}
#u8555_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8555_input {
  font-family:'应用字体';
}
#u8556_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u8556 {
  position:absolute;
  left:484px;
  top:200px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u8557 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u8558 {
  position:absolute;
  left:536px;
  top:197px;
  width:120px;
  height:20px;
}
#u8558_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8558_input {
  font-family:'应用字体';
}
#u8558_ann {
  position:absolute;
  left:649px;
  top:193px;
  width:1px;
  height:1px;
}
#u8559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8559 {
  position:absolute;
  left:36px;
  top:376px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8560 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8561 {
  position:absolute;
  left:537px;
  top:232px;
  width:120px;
  height:20px;
}
#u8561_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u8561_input {
  font-family:'应用字体';
}
#u8561_input:disabled {
  color:grayText;
}
#u8561_ann {
  position:absolute;
  left:650px;
  top:228px;
  width:1px;
  height:1px;
}
#u8562_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8562 {
  position:absolute;
  left:452px;
  top:235px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8563 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8564 {
  position:absolute;
  left:297px;
  top:227px;
  width:120px;
  height:20px;
}
#u8564_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u8564_input {
  font-family:'应用字体';
}
#u8564_input:disabled {
  color:grayText;
}
#u8564_ann {
  position:absolute;
  left:410px;
  top:223px;
  width:1px;
  height:1px;
}
#u8565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u8565 {
  position:absolute;
  left:201px;
  top:229px;
  width:90px;
  height:17px;
  color:#1E1E1E;
  text-align:right;
}
#u8566 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u8567 {
  position:absolute;
  left:770px;
  top:232px;
  width:120px;
  height:20px;
}
#u8567_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u8567_input {
  font-family:'应用字体';
}
#u8567_input:disabled {
  color:grayText;
}
#u8567_ann {
  position:absolute;
  left:883px;
  top:228px;
  width:1px;
  height:1px;
}
#u8568_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8568 {
  position:absolute;
  left:686px;
  top:235px;
  width:80px;
  height:17px;
  color:#1E1E1E;
  text-align:right;
}
#u8569 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8570_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8570 {
  position:absolute;
  left:718px;
  top:340px;
  width:80px;
  height:17px;
}
#u8571 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8572 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u8573 {
  position:absolute;
  left:770px;
  top:337px;
  width:120px;
  height:20px;
}
#u8573_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8573_input {
  font-family:'应用字体';
}
#u8574_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u8574 {
  position:absolute;
  left:872px;
  top:339px;
  width:18px;
  height:18px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8575 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8576_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8576 {
  position:absolute;
  left:463px;
  top:343px;
  width:80px;
  height:17px;
}
#u8577 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8578 {
  position:absolute;
  left:537px;
  top:340px;
  width:120px;
  height:20px;
}
#u8578_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8578_input {
  font-family:'应用字体';
}
#u8578_ann {
  position:absolute;
  left:650px;
  top:336px;
  width:1px;
  height:1px;
}
#u8579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8579 {
  position:absolute;
  left:222px;
  top:343px;
  width:80px;
  height:17px;
}
#u8580 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8581 {
  position:absolute;
  left:297px;
  top:340px;
  width:120px;
  height:20px;
}
#u8581_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8581_input {
  font-family:'应用字体';
}
#u8581_ann {
  position:absolute;
  left:410px;
  top:336px;
  width:1px;
  height:1px;
}
#u8582_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8582 {
  position:absolute;
  left:245px;
  top:376px;
  width:80px;
  height:17px;
}
#u8583 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8584 {
  position:absolute;
  left:75px;
  top:373px;
  width:120px;
  height:20px;
}
#u8584_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8584_input {
  font-family:'应用字体';
}
#u8585 {
  position:absolute;
  left:76px;
  top:410px;
  width:359px;
  height:58px;
}
#u8585_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:58px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8585_input {
  font-family:'应用字体';
}
#u8586 {
  position:absolute;
  left:536px;
  top:371px;
  width:354px;
  height:22px;
}
#u8586_input {
  position:absolute;
  left:0px;
  top:0px;
  width:354px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8586_input {
  font-family:'应用字体';
}
#u8587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8587 {
  position:absolute;
  left:447px;
  top:375px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u8588 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8589 {
  position:absolute;
  left:537px;
  top:410px;
  width:246px;
  height:137px;
}
#u8589_input {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:137px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8589_input {
  font-family:'应用字体';
}
#u8590_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8590 {
  position:absolute;
  left:452px;
  top:417px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u8591 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8592_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u8592 {
  position:absolute;
  left:783px;
  top:528px;
  width:51px;
  height:19px;
}
#u8593 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u8594_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:20px;
}
#u8594 {
  position:absolute;
  left:839px;
  top:528px;
  width:51px;
  height:19px;
}
#u8595 {
  position:absolute;
  left:2px;
  top:2px;
  width:47px;
  word-wrap:break-word;
}
#u8596_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8596 {
  position:absolute;
  left:-9px;
  top:495px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u8597 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8598 {
  position:absolute;
  left:76px;
  top:487px;
  width:359px;
  height:60px;
}
#u8598_input {
  position:absolute;
  left:0px;
  top:0px;
  width:359px;
  height:60px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8598_input {
  font-family:'应用字体';
}
#u8599 {
  position:absolute;
  left:298px;
  top:375px;
  width:16px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u8600 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8599_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u8599_ann {
  position:absolute;
  left:307px;
  top:371px;
  width:1px;
  height:1px;
}
#u8601_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8601 {
  position:absolute;
  left:462px;
  top:265px;
  width:86px;
  height:17px;
  color:#1E1E1E;
}
#u8602 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8603 {
  position:absolute;
  left:537px;
  top:262px;
  width:120px;
  height:20px;
}
#u8603_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8603_input {
  font-family:'应用字体';
}
#u8604_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8604 {
  position:absolute;
  left:233px;
  top:264px;
  width:86px;
  height:17px;
  color:#1E1E1E;
}
#u8605 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8606 {
  position:absolute;
  left:297px;
  top:262px;
  width:120px;
  height:20px;
}
#u8606_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8606_input {
  font-family:'应用字体';
}
#u8607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u8607 {
  position:absolute;
  left:-1px;
  top:340px;
  width:80px;
  height:17px;
}
#u8608 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u8609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8609 {
  position:absolute;
  left:75px;
  top:337px;
  width:120px;
  height:20px;
}
#u8610 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8609_ann {
  position:absolute;
  left:188px;
  top:333px;
  width:1px;
  height:1px;
}
#u8611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:18px;
}
#u8611 {
  position:absolute;
  left:497px;
  top:302px;
  width:58px;
  height:17px;
  color:#1E1E1E;
}
#u8612 {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u8613 {
  position:absolute;
  left:537px;
  top:299px;
  width:120px;
  height:20px;
}
#u8613_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8613_input {
  font-family:'应用字体';
}
#u8614_img {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:18px;
}
#u8614 {
  position:absolute;
  left:0px;
  top:200px;
  width:86px;
  height:17px;
  color:#FF0000;
}
#u8615 {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  word-wrap:break-word;
}
#u8616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u8616 {
  position:absolute;
  left:75px;
  top:197px;
  width:120px;
  height:20px;
}
#u8617 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8616_ann {
  position:absolute;
  left:188px;
  top:193px;
  width:1px;
  height:1px;
}
#u8618_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u8618 {
  position:absolute;
  left:694px;
  top:200px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u8619 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u8620 {
  position:absolute;
  left:770px;
  top:197px;
  width:120px;
  height:20px;
}
#u8620_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8620_input {
  font-family:'应用字体';
}
#u8620_ann {
  position:absolute;
  left:883px;
  top:193px;
  width:1px;
  height:1px;
}
#u8621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:18px;
}
#u8621 {
  position:absolute;
  left:705px;
  top:267px;
  width:73px;
  height:17px;
  color:#FF0000;
}
#u8622 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  word-wrap:break-word;
}
#u8623 {
  position:absolute;
  left:770px;
  top:264px;
  width:120px;
  height:20px;
}
#u8623_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u8623_input {
  font-family:'应用字体';
}
