@model Sunlight.Api.Service.Areas.HelpPage.Models.HelpPageApiModel

@{
    var description = Model.ApiDescription;
    ViewBag.Title = description.HttpMethod.Method + " " + description.RelativePath;
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet"/>
<div id="body" class="help-page">
    <section class="content-wrapper main-content clear-fix">
        @Html.DisplayForModel()
    </section>
</div>