@model System.Collections.ObjectModel.Collection<System.Web.Http.Description.ApiDescription>

@{
    ViewBag.Title = "Personal Digital Assistant 服务定义";

    // Group APIs by controller
    var apiGroups = Model.ToLookup(api => api.ActionDescriptor.ControllerDescriptor);
}

<link type="text/css" href="~/Areas/HelpPage/HelpPage.css" rel="stylesheet"/>
<header class="help-page">
    <div class="content-wrapper">
        <div class="float-left">
            <h1>@ViewBag.Title</h1>
        </div>
    </div>
</header>
<div id="body" class="help-page">
    <section class="featured">
        <div class="content-wrapper">
            <h2>定义</h2>
            <p>
                提供WINCE程序调用的API以及参数等相关信息说明
            </p>
        </div>
    </section>
    <section class="content-wrapper main-content clear-fix">
        @foreach(var group in apiGroups) {
            @Html.DisplayFor(m => group, "ApiGroup")
        }
    </section>
</div>