﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1089px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:30px;
}
#u6201 {
  position:absolute;
  left:2px;
  top:11px;
  width:1090px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u6202 {
  position:absolute;
  left:2px;
  top:4px;
  width:1086px;
  word-wrap:break-word;
}
#u6203 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6204 {
  position:absolute;
  left:1028px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6205 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6206_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6206 {
  position:absolute;
  left:1063px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6207 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6208 {
  position:absolute;
  left:83px;
  top:51px;
  width:120px;
  height:22px;
}
#u6208_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6208_input {
  font-family:'应用字体';
}
#u6208_input:disabled {
  color:grayText;
}
#u6209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6209 {
  position:absolute;
  left:-1px;
  top:53px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6210 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6211 {
  position:absolute;
  left:82px;
  top:120px;
  width:747px;
  height:20px;
}
#u6211_input {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6211_input {
  font-family:'应用字体';
}
#u6212_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6212 {
  position:absolute;
  left:-3px;
  top:122px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u6213 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6214_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:2px;
}
#u6214 {
  position:absolute;
  left:2px;
  top:41px;
  width:1090px;
  height:1px;
}
#u6215 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:2px;
}
#u6216 {
  position:absolute;
  left:1px;
  top:153px;
  width:1090px;
  height:1px;
}
#u6217 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6218 {
  position:absolute;
  left:231px;
  top:89px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6219 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6220 {
  position:absolute;
  left:450px;
  top:49px;
  width:100px;
  height:17px;
}
#u6221 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6220_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6222 {
  position:absolute;
  left:508px;
  top:49px;
  width:100px;
  height:17px;
}
#u6223 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6222_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6224 {
  position:absolute;
  left:272px;
  top:84px;
  width:120px;
  height:22px;
}
#u6224_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6224_input {
  font-family:'应用字体';
}
#u6224_input:disabled {
  color:grayText;
}
#u6225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6225 {
  position:absolute;
  left:43px;
  top:90px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6226 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6227 {
  position:absolute;
  left:84px;
  top:85px;
  width:120px;
  height:22px;
}
#u6227_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6227_input {
  font-family:'应用字体';
}
#u6227_input:disabled {
  color:grayText;
}
