﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1004px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9662_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u9662 {
  position:absolute;
  left:3px;
  top:10px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u9663 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u9664 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u9665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9665 {
  position:absolute;
  left:999px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9666 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u9667 {
  position:absolute;
  left:1034px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u9668 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9669 {
  position:absolute;
  left:72px;
  top:50px;
  width:123px;
  height:20px;
}
#u9669_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u9669_input {
  font-family:'应用字体';
}
#u9669_input:disabled {
  color:grayText;
}
#u9670_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u9670 {
  position:absolute;
  left:-17px;
  top:54px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u9671 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u9672_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u9672 {
  position:absolute;
  left:14px;
  top:39px;
  width:1050px;
  height:1px;
}
#u9673 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9674_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u9674 {
  position:absolute;
  left:-13px;
  top:213px;
  width:1050px;
  height:1px;
}
#u9675 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9676_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:18px;
}
#u9676 {
  position:absolute;
  left:8px;
  top:113px;
  width:54px;
  height:17px;
  color:#FF0000;
}
#u9677 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  word-wrap:break-word;
}
#u9678 {
  position:absolute;
  left:72px;
  top:110px;
  width:120px;
  height:20px;
}
#u9678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9678_input {
  font-family:'应用字体';
}
#u9679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u9679 {
  position:absolute;
  left:54px;
  top:114px;
  width:23px;
  height:17px;
  color:#FF0000;
}
#u9680 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u9681 {
  position:absolute;
  left:263px;
  top:109px;
  width:120px;
  height:20px;
}
#u9681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9681_input {
  font-family:'应用字体';
}
#u9682_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u9682 {
  position:absolute;
  left:243px;
  top:111px;
  width:23px;
  height:17px;
  color:#FF0000;
}
#u9683 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u9684 {
  position:absolute;
  left:460px;
  top:107px;
  width:123px;
  height:20px;
}
#u9684_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u9684_input {
  font-family:'应用字体';
}
#u9684_input:disabled {
  color:grayText;
}
#u9685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u9685 {
  position:absolute;
  left:412px;
  top:111px;
  width:39px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u9686 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u9687 {
  position:absolute;
  left:73px;
  top:144px;
  width:120px;
  height:20px;
}
#u9687_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9687_input {
  font-family:'应用字体';
}
#u9688_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u9688 {
  position:absolute;
  left:55px;
  top:148px;
  width:23px;
  height:17px;
  color:#FF0000;
}
#u9689 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u9690 {
  position:absolute;
  left:264px;
  top:143px;
  width:120px;
  height:20px;
}
#u9690_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9690_input {
  font-family:'应用字体';
}
#u9691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u9691 {
  position:absolute;
  left:244px;
  top:145px;
  width:23px;
  height:17px;
  color:#FF0000;
}
#u9692 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u9693 {
  position:absolute;
  left:461px;
  top:141px;
  width:123px;
  height:20px;
}
#u9693_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u9693_input {
  font-family:'应用字体';
}
#u9693_input:disabled {
  color:grayText;
}
#u9694_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u9694 {
  position:absolute;
  left:413px;
  top:145px;
  width:39px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u9695 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u9696 {
  position:absolute;
  left:74px;
  top:173px;
  width:120px;
  height:20px;
}
#u9696_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9696_input {
  font-family:'应用字体';
}
#u9697_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u9697 {
  position:absolute;
  left:56px;
  top:177px;
  width:23px;
  height:17px;
  color:#FF0000;
}
#u9698 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u9699 {
  position:absolute;
  left:265px;
  top:172px;
  width:120px;
  height:20px;
}
#u9699_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u9699_input {
  font-family:'应用字体';
}
#u9700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:18px;
}
#u9700 {
  position:absolute;
  left:245px;
  top:174px;
  width:23px;
  height:17px;
  color:#FF0000;
}
#u9701 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  word-wrap:break-word;
}
#u9702 {
  position:absolute;
  left:462px;
  top:170px;
  width:123px;
  height:20px;
}
#u9702_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u9702_input {
  font-family:'应用字体';
}
#u9702_input:disabled {
  color:grayText;
}
#u9703_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u9703 {
  position:absolute;
  left:414px;
  top:174px;
  width:39px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u9704 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  word-wrap:break-word;
}
#u9705_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u9705 {
  position:absolute;
  left:-60px;
  top:97px;
  width:1050px;
  height:1px;
}
#u9706 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
