﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5897 {
  position:absolute;
  left:695px;
  top:41px;
  width:100px;
  height:17px;
}
#u5898 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5897_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5899 {
  position:absolute;
  left:790px;
  top:41px;
  width:100px;
  height:17px;
}
#u5900 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u5899_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u5899_ann {
  position:absolute;
  left:883px;
  top:37px;
  width:1px;
  height:1px;
}
#u5901_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u5901 {
  position:absolute;
  left:-1px;
  top:0px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u5902 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u5903 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5904 {
  position:absolute;
  left:992px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5905 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5906 {
  position:absolute;
  left:1027px;
  top:1px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5907 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1048px;
  height:2px;
}
#u5908 {
  position:absolute;
  left:-1px;
  top:30px;
  width:1047px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u5909 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1043px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:2px;
}
#u5910 {
  position:absolute;
  left:2px;
  top:143px;
  width:1032px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u5911 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1028px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:18px;
}
#u5912 {
  position:absolute;
  left:4px;
  top:45px;
  width:90px;
  height:17px;
  color:#FF0000;
}
#u5913 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5914 {
  position:absolute;
  left:91px;
  top:42px;
  width:120px;
  height:20px;
}
#u5914_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5914_input {
  font-family:'应用字体';
}
#u5915 {
  position:absolute;
  left:91px;
  top:74px;
  width:123px;
  height:22px;
}
#u5915_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u5915_input {
  font-family:'应用字体';
}
#u5915_input:disabled {
  color:grayText;
}
#u5916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u5916 {
  position:absolute;
  left:5px;
  top:77px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u5917 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5918 {
  position:absolute;
  left:507px;
  top:39px;
  width:123px;
  height:22px;
}
#u5918_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u5918_input {
  font-family:'应用字体';
}
#u5918_input:disabled {
  color:grayText;
}
#u5919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u5919 {
  position:absolute;
  left:422px;
  top:42px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u5920 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5921 {
  position:absolute;
  left:91px;
  top:111px;
  width:730px;
  height:20px;
}
#u5921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5921_input {
  font-family:'应用字体';
}
#u5922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u5922 {
  position:absolute;
  left:6px;
  top:113px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u5923 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u5924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u5924 {
  position:absolute;
  left:241px;
  top:45px;
  width:56px;
  height:17px;
  color:#FF0000;
}
#u5925 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u5926 {
  position:absolute;
  left:308px;
  top:42px;
  width:120px;
  height:20px;
}
#u5926_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5926_input {
  font-family:'应用字体';
}
#u5927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u5927 {
  position:absolute;
  left:241px;
  top:77px;
  width:56px;
  height:17px;
  color:#FF0000;
}
#u5928 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u5929 {
  position:absolute;
  left:308px;
  top:74px;
  width:120px;
  height:20px;
}
#u5929_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5929_input {
  font-family:'应用字体';
}
#u5930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u5930 {
  position:absolute;
  left:454px;
  top:80px;
  width:56px;
  height:17px;
  color:#FF0000;
}
#u5931 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  word-wrap:break-word;
}
#u5932 {
  position:absolute;
  left:508px;
  top:77px;
  width:120px;
  height:20px;
}
#u5932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u5932_input {
  font-family:'应用字体';
}
