﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1086px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:30px;
}
#u6355 {
  position:absolute;
  left:10px;
  top:10px;
  width:1090px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u6356 {
  position:absolute;
  left:2px;
  top:4px;
  width:1086px;
  word-wrap:break-word;
}
#u6357_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:22px;
}
#u6357 {
  position:absolute;
  left:14px;
  top:46px;
  width:208px;
  height:21px;
  font-size:16px;
}
#u6358 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  word-wrap:break-word;
}
#u6359 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6360_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6360 {
  position:absolute;
  left:1028px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6361 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6362_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6362 {
  position:absolute;
  left:1063px;
  top:12px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6363 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6364_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u6364 {
  position:absolute;
  left:38px;
  top:83px;
  width:51px;
  height:17px;
  color:#FF0000;
}
#u6365 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u6366 {
  position:absolute;
  left:91px;
  top:80px;
  width:120px;
  height:20px;
}
#u6366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6366_input {
  font-family:'应用字体';
}
#u6366_ann {
  position:absolute;
  left:204px;
  top:76px;
  width:1px;
  height:1px;
}
#u6367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:17px;
}
#u6367 {
  position:absolute;
  left:13px;
  top:187px;
  width:150px;
  height:16px;
  font-size:16px;
}
#u6368 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6369 {
  position:absolute;
  left:91px;
  top:114px;
  width:120px;
  height:22px;
}
#u6369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6369_input {
  font-family:'应用字体';
}
#u6369_input:disabled {
  color:grayText;
}
#u6370_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6370 {
  position:absolute;
  left:7px;
  top:116px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6371 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6372 {
  position:absolute;
  left:83px;
  top:148px;
  width:747px;
  height:20px;
}
#u6372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:747px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6372_input {
  font-family:'应用字体';
}
#u6373_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6373 {
  position:absolute;
  left:-14px;
  top:150px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u6374 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6375_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:2px;
}
#u6375 {
  position:absolute;
  left:10px;
  top:69px;
  width:1090px;
  height:1px;
}
#u6376 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6377_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1091px;
  height:2px;
}
#u6377 {
  position:absolute;
  left:9px;
  top:181px;
  width:1090px;
  height:1px;
}
#u6378 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1086px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6379_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6379 {
  position:absolute;
  left:239px;
  top:82px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6380 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6381 {
  position:absolute;
  left:297px;
  top:77px;
  width:120px;
  height:22px;
}
#u6381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6381_input {
  font-family:'应用字体';
}
#u6381_input:disabled {
  color:grayText;
}
#u6382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:18px;
}
#u6382 {
  position:absolute;
  left:245px;
  top:114px;
  width:51px;
  height:17px;
  color:#FF0000;
}
#u6383 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  word-wrap:break-word;
}
#u6384 {
  position:absolute;
  left:298px;
  top:111px;
  width:120px;
  height:20px;
}
#u6384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6384_input {
  font-family:'应用字体';
}
