﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6511_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:30px;
}
#u6511 {
  position:absolute;
  left:14px;
  top:20px;
  width:1050px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u6512 {
  position:absolute;
  left:2px;
  top:4px;
  width:1046px;
  word-wrap:break-word;
}
#u6513 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6514_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6514 {
  position:absolute;
  left:1005px;
  top:22px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6515 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6514_ann {
  position:absolute;
  left:1022px;
  top:18px;
  width:1px;
  height:1px;
}
#u6516_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6516 {
  position:absolute;
  left:1040px;
  top:22px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6517 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6518_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6518 {
  position:absolute;
  left:24px;
  top:60px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6519 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6520 {
  position:absolute;
  left:91px;
  top:59px;
  width:120px;
  height:20px;
}
#u6520_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6520_input {
  font-family:'应用字体';
}
#u6521 {
  position:absolute;
  left:21px;
  top:170px;
  width:828px;
  height:126px;
  overflow:hidden;
}
#u6521_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:126px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6521_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6522_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:17px;
}
#u6522 {
  position:absolute;
  left:48px;
  top:9px;
  width:169px;
  height:16px;
}
#u6523 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6524 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:118px;
}
#u6525 {
  position:absolute;
  left:1px;
  top:3px;
  width:468px;
  height:117px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6526 {
  position:absolute;
  left:2px;
  top:50px;
  width:464px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6527 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6528 {
  position:absolute;
  left:11px;
  top:24px;
  width:1045px;
  height:101px;
}
#u6529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u6529 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6529_img.mouseOver {
}
#u6529.mouseOver {
}
#u6530 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u6531 {
  position:absolute;
  left:31px;
  top:0px;
  width:31px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6531_img.mouseOver {
}
#u6531.mouseOver {
}
#u6532 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6533_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6533 {
  position:absolute;
  left:62px;
  top:0px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6533_img.mouseOver {
}
#u6533.mouseOver {
}
#u6534 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u6535_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6535 {
  position:absolute;
  left:186px;
  top:0px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6535_img.mouseOver {
}
#u6535.mouseOver {
}
#u6536 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u6537_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6537 {
  position:absolute;
  left:310px;
  top:0px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6537_img.mouseOver {
}
#u6537.mouseOver {
}
#u6538 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u6539_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6539 {
  position:absolute;
  left:426px;
  top:0px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6539_img.mouseOver {
}
#u6539.mouseOver {
}
#u6540 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  word-wrap:break-word;
}
#u6541_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6541 {
  position:absolute;
  left:542px;
  top:0px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6541_img.mouseOver {
}
#u6541.mouseOver {
}
#u6542 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u6543_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6543 {
  position:absolute;
  left:666px;
  top:0px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6543_img.mouseOver {
}
#u6543.mouseOver {
}
#u6544 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u6545_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
}
#u6545 {
  position:absolute;
  left:790px;
  top:0px;
  width:250px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6545_img.mouseOver {
}
#u6545.mouseOver {
}
#u6546 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6547_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u6547 {
  position:absolute;
  left:0px;
  top:21px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6548 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6549_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:21px;
}
#u6549 {
  position:absolute;
  left:31px;
  top:21px;
  width:31px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6550 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6551_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u6551 {
  position:absolute;
  left:62px;
  top:21px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6552 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6553_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u6553 {
  position:absolute;
  left:186px;
  top:21px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6554 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6555_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
}
#u6555 {
  position:absolute;
  left:310px;
  top:21px;
  width:116px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6556 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6557_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:21px;
}
#u6557 {
  position:absolute;
  left:426px;
  top:21px;
  width:116px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6558 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6559_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u6559 {
  position:absolute;
  left:542px;
  top:21px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6560 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6561_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:21px;
}
#u6561 {
  position:absolute;
  left:666px;
  top:21px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6562 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6563_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:21px;
}
#u6563 {
  position:absolute;
  left:790px;
  top:21px;
  width:250px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6564 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6565_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u6565 {
  position:absolute;
  left:0px;
  top:41px;
  width:31px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6566 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6567_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:22px;
}
#u6567 {
  position:absolute;
  left:31px;
  top:41px;
  width:31px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6568 {
  position:absolute;
  left:2px;
  top:2px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6569_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6569 {
  position:absolute;
  left:62px;
  top:41px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6570 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6571_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6571 {
  position:absolute;
  left:186px;
  top:41px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6572 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6573_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6573 {
  position:absolute;
  left:310px;
  top:41px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6574 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6575_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:22px;
}
#u6575 {
  position:absolute;
  left:426px;
  top:41px;
  width:116px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6576 {
  position:absolute;
  left:2px;
  top:2px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6577_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6577 {
  position:absolute;
  left:542px;
  top:41px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6578 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6579_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:22px;
}
#u6579 {
  position:absolute;
  left:666px;
  top:41px;
  width:124px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6580 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6581_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
}
#u6581 {
  position:absolute;
  left:790px;
  top:41px;
  width:250px;
  height:21px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6582 {
  position:absolute;
  left:2px;
  top:2px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6583_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u6583 {
  position:absolute;
  left:0px;
  top:62px;
  width:31px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6584 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6585_img {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:35px;
}
#u6585 {
  position:absolute;
  left:31px;
  top:62px;
  width:31px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6586 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6587_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u6587 {
  position:absolute;
  left:62px;
  top:62px;
  width:124px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6588 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6589_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u6589 {
  position:absolute;
  left:186px;
  top:62px;
  width:124px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6590 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6591_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u6591 {
  position:absolute;
  left:310px;
  top:62px;
  width:116px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6592 {
  position:absolute;
  left:2px;
  top:9px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6593_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:35px;
}
#u6593 {
  position:absolute;
  left:426px;
  top:62px;
  width:116px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6594 {
  position:absolute;
  left:2px;
  top:9px;
  width:112px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6595_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u6595 {
  position:absolute;
  left:542px;
  top:62px;
  width:124px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6596 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6597_img {
  position:absolute;
  left:0px;
  top:0px;
  width:125px;
  height:35px;
}
#u6597 {
  position:absolute;
  left:666px;
  top:62px;
  width:124px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6598 {
  position:absolute;
  left:2px;
  top:9px;
  width:120px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6599_img {
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:35px;
}
#u6599 {
  position:absolute;
  left:790px;
  top:62px;
  width:250px;
  height:34px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6600 {
  position:absolute;
  left:2px;
  top:9px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6601 {
  position:absolute;
  left:49px;
  top:26px;
  width:16px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6602 {
  position:absolute;
  left:16px;
  top:0px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6601_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6603_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:14px;
}
#u6603 {
  position:absolute;
  left:104px;
  top:5px;
  width:104px;
  height:13px;
}
#u6604 {
  position:absolute;
  left:2px;
  top:-2px;
  width:100px;
  word-wrap:break-word;
}
#u6605 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6606 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6607_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u6607 {
  position:absolute;
  left:34px;
  top:3px;
  width:16px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6608 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6609_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:14px;
}
#u6609 {
  position:absolute;
  left:14px;
  top:3px;
  width:16px;
  height:14px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6610 {
  position:absolute;
  left:2px;
  top:-1px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6611_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6611 {
  position:absolute;
  left:59px;
  top:2px;
  width:17px;
  height:17px;
}
#u6612 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6613_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:17px;
}
#u6613 {
  position:absolute;
  left:79px;
  top:2px;
  width:17px;
  height:17px;
}
#u6614 {
  position:absolute;
  left:2px;
  top:0px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6615 {
  position:absolute;
  left:14px;
  top:295px;
  width:828px;
  height:257px;
  overflow:hidden;
  visibility:hidden;
}
#u6615_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:828px;
  height:257px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6615_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6616_img {
  position:absolute;
  left:0px;
  top:0px;
  width:769px;
  height:24px;
}
#u6616 {
  position:absolute;
  left:2px;
  top:0px;
  width:768px;
  height:23px;
  font-size:17px;
  color:#FFFFFF;
  text-align:left;
}
#u6617 {
  position:absolute;
  left:2px;
  top:0px;
  width:764px;
  word-wrap:break-word;
}
#u6618 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6619_img {
  position:absolute;
  left:0px;
  top:0px;
  width:772px;
  height:95px;
}
#u6619 {
  position:absolute;
  left:-1px;
  top:23px;
  width:771px;
  height:94px;
}
#u6620 {
  position:absolute;
  left:2px;
  top:39px;
  width:767px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6621_img {
  position:absolute;
  left:0px;
  top:0px;
  width:770px;
  height:24px;
}
#u6621 {
  position:absolute;
  left:1px;
  top:92px;
  width:769px;
  height:23px;
  font-size:12px;
}
#u6622 {
  position:absolute;
  left:2px;
  top:3px;
  width:765px;
  word-wrap:break-word;
}
#u6623 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6624_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6624 {
  position:absolute;
  left:711px;
  top:0px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6625 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6626_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u6626 {
  position:absolute;
  left:746px;
  top:0px;
  width:24px;
  height:24px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6627 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6628_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6628 {
  position:absolute;
  left:10px;
  top:35px;
  width:80px;
  height:17px;
  color:#000000;
}
#u6629 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6630 {
  position:absolute;
  left:90px;
  top:32px;
  width:120px;
  height:20px;
}
#u6630_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6630_input {
  font-family:'应用字体';
}
#u6631_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6631 {
  position:absolute;
  left:255px;
  top:35px;
  width:80px;
  height:17px;
  color:#000000;
}
#u6632 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6633_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u6633 {
  position:absolute;
  left:255px;
  top:64px;
  width:60px;
  height:17px;
  color:#000000;
}
#u6634 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6635_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:18px;
}
#u6635 {
  position:absolute;
  left:10px;
  top:63px;
  width:60px;
  height:17px;
  color:#000000;
}
#u6636 {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  word-wrap:break-word;
}
#u6637 {
  position:absolute;
  left:-5px;
  top:117px;
  width:776px;
  height:114px;
  overflow:hidden;
}
#u6637_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:114px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u6637_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u6638 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6639 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6640 {
  position:absolute;
  left:9px;
  top:5px;
  width:766px;
  height:110px;
}
#u6641_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u6641 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6641_img.mouseOver {
}
#u6641.mouseOver {
}
#u6642 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6643_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:24px;
}
#u6643 {
  position:absolute;
  left:20px;
  top:0px;
  width:20px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6643_img.mouseOver {
}
#u6643.mouseOver {
}
#u6644 {
  position:absolute;
  left:2px;
  top:4px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6645_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:24px;
}
#u6645 {
  position:absolute;
  left:40px;
  top:0px;
  width:148px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6645_img.mouseOver {
}
#u6645.mouseOver {
}
#u6646 {
  position:absolute;
  left:2px;
  top:3px;
  width:144px;
  word-wrap:break-word;
}
#u6647_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:24px;
}
#u6647 {
  position:absolute;
  left:188px;
  top:0px;
  width:137px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6647_img.mouseOver {
}
#u6647.mouseOver {
}
#u6648 {
  position:absolute;
  left:2px;
  top:3px;
  width:133px;
  word-wrap:break-word;
}
#u6649_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:24px;
}
#u6649 {
  position:absolute;
  left:325px;
  top:0px;
  width:154px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6649_img.mouseOver {
}
#u6649.mouseOver {
}
#u6650 {
  position:absolute;
  left:2px;
  top:3px;
  width:150px;
  word-wrap:break-word;
}
#u6651_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:24px;
}
#u6651 {
  position:absolute;
  left:479px;
  top:0px;
  width:131px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6651_img.mouseOver {
}
#u6651.mouseOver {
}
#u6652 {
  position:absolute;
  left:2px;
  top:3px;
  width:127px;
  word-wrap:break-word;
}
#u6653_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:24px;
}
#u6653 {
  position:absolute;
  left:610px;
  top:0px;
  width:151px;
  height:23px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#CCCCCC;
  text-align:center;
}
#u6653_img.mouseOver {
}
#u6653.mouseOver {
}
#u6654 {
  position:absolute;
  left:2px;
  top:4px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6655_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6655 {
  position:absolute;
  left:0px;
  top:23px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6656 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6657_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u6657 {
  position:absolute;
  left:20px;
  top:23px;
  width:20px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6658 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6659_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:21px;
}
#u6659 {
  position:absolute;
  left:40px;
  top:23px;
  width:148px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6660 {
  position:absolute;
  left:2px;
  top:2px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6661_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:21px;
}
#u6661 {
  position:absolute;
  left:188px;
  top:23px;
  width:137px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6662 {
  position:absolute;
  left:2px;
  top:2px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6663_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u6663 {
  position:absolute;
  left:325px;
  top:23px;
  width:154px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6664 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6665_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:21px;
}
#u6665 {
  position:absolute;
  left:479px;
  top:23px;
  width:131px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6666 {
  position:absolute;
  left:2px;
  top:2px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6667_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:21px;
}
#u6667 {
  position:absolute;
  left:610px;
  top:23px;
  width:151px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6668 {
  position:absolute;
  left:2px;
  top:2px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6669_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
}
#u6669 {
  position:absolute;
  left:0px;
  top:43px;
  width:20px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6670 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6671_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:27px;
}
#u6671 {
  position:absolute;
  left:20px;
  top:43px;
  width:20px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6672 {
  position:absolute;
  left:2px;
  top:5px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6673_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:27px;
}
#u6673 {
  position:absolute;
  left:40px;
  top:43px;
  width:148px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6674 {
  position:absolute;
  left:2px;
  top:5px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6675_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:27px;
}
#u6675 {
  position:absolute;
  left:188px;
  top:43px;
  width:137px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6676 {
  position:absolute;
  left:2px;
  top:5px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6677_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:27px;
}
#u6677 {
  position:absolute;
  left:325px;
  top:43px;
  width:154px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6678 {
  position:absolute;
  left:2px;
  top:5px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6679_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:27px;
}
#u6679 {
  position:absolute;
  left:479px;
  top:43px;
  width:131px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6680 {
  position:absolute;
  left:2px;
  top:5px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6681_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:27px;
}
#u6681 {
  position:absolute;
  left:610px;
  top:43px;
  width:151px;
  height:26px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6682 {
  position:absolute;
  left:2px;
  top:5px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6683_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u6683 {
  position:absolute;
  left:0px;
  top:69px;
  width:20px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6684 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6685_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:37px;
}
#u6685 {
  position:absolute;
  left:20px;
  top:69px;
  width:20px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6686 {
  position:absolute;
  left:2px;
  top:10px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6687_img {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:37px;
}
#u6687 {
  position:absolute;
  left:40px;
  top:69px;
  width:148px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6688 {
  position:absolute;
  left:2px;
  top:10px;
  width:144px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6689_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:37px;
}
#u6689 {
  position:absolute;
  left:188px;
  top:69px;
  width:137px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6690 {
  position:absolute;
  left:2px;
  top:10px;
  width:133px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6691_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:37px;
}
#u6691 {
  position:absolute;
  left:325px;
  top:69px;
  width:154px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6692 {
  position:absolute;
  left:2px;
  top:10px;
  width:150px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6693_img {
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:37px;
}
#u6693 {
  position:absolute;
  left:479px;
  top:69px;
  width:131px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6694 {
  position:absolute;
  left:2px;
  top:10px;
  width:127px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6695_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:37px;
}
#u6695 {
  position:absolute;
  left:610px;
  top:69px;
  width:151px;
  height:36px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#000000;
  text-align:center;
}
#u6696 {
  position:absolute;
  left:2px;
  top:10px;
  width:147px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6697 {
  position:absolute;
  left:28px;
  top:5px;
  width:59px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u6698 {
  position:absolute;
  left:16px;
  top:0px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6697_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6699 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6700_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:51px;
}
#u6700 {
  position:absolute;
  left:471px;
  top:36px;
  width:1px;
  height:50px;
}
#u6701 {
  position:absolute;
  left:2px;
  top:17px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6702_img {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:54px;
}
#u6702 {
  position:absolute;
  left:481px;
  top:33px;
  width:53px;
  height:53px;
}
#u6702_img.mouseOver {
}
#u6702.mouseOver {
}
#u6702_img.mouseDown {
}
#u6702.mouseDown {
}
#u6703 {
  position:absolute;
  left:2px;
  top:18px;
  width:49px;
  word-wrap:break-word;
}
#u6704 {
  position:absolute;
  left:335px;
  top:32px;
  width:120px;
  height:20px;
}
#u6704_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6704_input {
  font-family:'应用字体';
}
#u6705 {
  position:absolute;
  left:335px;
  top:62px;
  width:120px;
  height:20px;
}
#u6705_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6705_input {
  font-family:'应用字体';
}
#u6706 {
  position:absolute;
  left:90px;
  top:62px;
  width:120px;
  height:20px;
}
#u6706_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6706_input {
  font-family:'应用字体';
}
#u6707_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6707 {
  position:absolute;
  left:4px;
  top:97px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6708 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6709 {
  position:absolute;
  left:88px;
  top:92px;
  width:123px;
  height:22px;
}
#u6709_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6709_input {
  font-family:'应用字体';
}
#u6709_input:disabled {
  color:grayText;
}
#u6710 {
  position:absolute;
  left:292px;
  top:59px;
  width:123px;
  height:22px;
}
#u6710_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6710_input {
  font-family:'应用字体';
}
#u6710_input:disabled {
  color:grayText;
}
#u6711_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6711 {
  position:absolute;
  left:206px;
  top:60px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6712 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6713 {
  position:absolute;
  left:91px;
  top:126px;
  width:730px;
  height:20px;
}
#u6713_input {
  position:absolute;
  left:0px;
  top:0px;
  width:730px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6713_input {
  font-family:'应用字体';
}
#u6714_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6714 {
  position:absolute;
  left:3px;
  top:128px;
  width:80px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u6715 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6716_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u6716 {
  position:absolute;
  left:17px;
  top:50px;
  width:1050px;
  height:1px;
}
#u6717 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6718_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1051px;
  height:2px;
}
#u6718 {
  position:absolute;
  left:16px;
  top:157px;
  width:1050px;
  height:1px;
}
#u6719 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1046px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6720_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6720 {
  position:absolute;
  left:209px;
  top:97px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6721 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6722 {
  position:absolute;
  left:293px;
  top:92px;
  width:123px;
  height:22px;
}
#u6722_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6722_input {
  font-family:'应用字体';
}
#u6722_input:disabled {
  color:grayText;
}
#u6723_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6723 {
  position:absolute;
  left:485px;
  top:60px;
  width:80px;
  height:17px;
  color:#FF0000;
}
#u6724 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6725 {
  position:absolute;
  left:529px;
  top:59px;
  width:120px;
  height:20px;
}
#u6725_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6725_input {
  font-family:'应用字体';
}
#u6726_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:18px;
}
#u6726 {
  position:absolute;
  left:441px;
  top:97px;
  width:87px;
  height:17px;
  color:#FF0000;
}
#u6727 {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  word-wrap:break-word;
}
#u6728 {
  position:absolute;
  left:529px;
  top:92px;
  width:120px;
  height:20px;
}
#u6728_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u6728_input {
  font-family:'应用字体';
}
#u6729_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u6729 {
  position:absolute;
  left:643px;
  top:60px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u6730 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u6731 {
  position:absolute;
  left:727px;
  top:59px;
  width:123px;
  height:22px;
}
#u6731_input {
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:22px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u6731_input {
  font-family:'应用字体';
}
#u6731_input:disabled {
  color:grayText;
}
