﻿body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1069px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:1px;
  top:0px;
  width:1063px;
  height:29px;
  font-family:'华文宋体 Regular', '华文宋体';
  font-weight:400;
  font-style:normal;
  font-size:17px;
  text-align:left;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1064px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:4px;
  width:1059px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:-1px;
  top:30px;
  width:1072px;
  height:261px;
  overflow:hidden;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:261px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:-10px;
  top:-30px;
  width:690px;
  height:270px;
  opacity:0.5;
  color:#CCCCCC;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:691px;
  height:271px;
}
#u3_img.mouseOver {
}
#u3.mouseOver {
  opacity:1;
}
#u4 {
  position:absolute;
  left:2px;
  top:127px;
  width:686px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:82px;
  top:74px;
  width:111px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:21px;
}
#u6 {
  position:absolute;
  left:2px;
  top:2px;
  width:107px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:269px;
  top:74px;
  width:154px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u8 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:426px;
  top:74px;
  width:154px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:-34px;
  top:39px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:374px;
  top:39px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:464px;
  top:36px;
  width:120px;
  height:20px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u15_input {
  font-family:'应用字体';
}
#u15_ann {
  position:absolute;
  left:577px;
  top:32px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:54px;
  top:37px;
  width:120px;
  height:20px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u17 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16_ann {
  position:absolute;
  left:167px;
  top:33px;
  width:1px;
  height:1px;
}
#u18 {
  position:absolute;
  left:563px;
  top:36px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:653px;
  top:36px;
  width:120px;
  height:20px;
}
#u20_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u20_input {
  font-family:'应用字体';
}
#u20_ann {
  position:absolute;
  left:766px;
  top:32px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:87px;
  top:111px;
  width:120px;
  height:20px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
}
#u21_input {
  font-family:'应用字体';
}
#u21_input:disabled {
  color:grayText;
}
#u22 {
  position:absolute;
  left:0px;
  top:114px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:217px;
  top:114px;
  width:120px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:18px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:339px;
  top:111px;
  width:124px;
  height:20px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u26_input {
  font-family:'应用字体';
}
#u27 {
  position:absolute;
  left:88px;
  top:149px;
  width:561px;
  height:52px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:561px;
  height:52px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u27_input {
  font-family:'应用字体';
}
#u27_ann {
  position:absolute;
  left:642px;
  top:145px;
  width:1px;
  height:1px;
}
#u28 {
  position:absolute;
  left:16px;
  top:149px;
  width:65px;
  height:17px;
  color:#000000;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:4px;
  top:3px;
  width:150px;
  height:21px;
  font-size:16px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:-6px;
  top:26px;
  width:1141px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:2px;
}
#u33 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:4px;
  top:63px;
  width:1141px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:2px;
}
#u35 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:3px;
  top:74px;
  width:107px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:166px;
  top:38px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:250px;
  top:35px;
  width:120px;
  height:20px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u41 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40_ann {
  position:absolute;
  left:363px;
  top:31px;
  width:1px;
  height:1px;
}
#u2_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:261px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u42 {
  position:absolute;
  left:-10px;
  top:-30px;
  width:820px;
  height:300px;
  opacity:0.5;
  color:#CCCCCC;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:821px;
  height:301px;
}
#u42_img.mouseOver {
}
#u42.mouseOver {
  opacity:1;
}
#u43 {
  position:absolute;
  left:2px;
  top:142px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:113px;
  top:74px;
  width:154px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u45 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:269px;
  top:74px;
  width:154px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u47 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:426px;
  top:74px;
  width:154px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:155px;
  height:21px;
}
#u49 {
  position:absolute;
  left:2px;
  top:2px;
  width:150px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:4px;
  top:3px;
  width:150px;
  height:21px;
  font-size:16px;
}
#u50_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:22px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:-6px;
  top:26px;
  width:1141px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:2px;
}
#u53 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:4px;
  top:63px;
  width:1141px;
  height:1px;
  font-size:16px;
  text-align:left;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1142px;
  height:2px;
}
#u55 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1137px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:3px;
  top:74px;
  width:107px;
  height:20px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
}
#u57 {
  position:absolute;
  left:2px;
  top:2px;
  width:103px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:-34px;
  top:39px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u58_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u59 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u60 {
  position:absolute;
  left:374px;
  top:39px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u60_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u61 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u62 {
  position:absolute;
  left:464px;
  top:36px;
  width:120px;
  height:20px;
}
#u62_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u62_input {
  font-family:'应用字体';
}
#u62_ann {
  position:absolute;
  left:577px;
  top:32px;
  width:1px;
  height:1px;
}
#u63 {
  position:absolute;
  left:54px;
  top:37px;
  width:120px;
  height:20px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u64 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u63_ann {
  position:absolute;
  left:167px;
  top:33px;
  width:1px;
  height:1px;
}
#u65 {
  position:absolute;
  left:563px;
  top:36px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:653px;
  top:36px;
  width:120px;
  height:20px;
}
#u67_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:20px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u67_input {
  font-family:'应用字体';
}
#u67_ann {
  position:absolute;
  left:766px;
  top:32px;
  width:1px;
  height:1px;
}
#u68 {
  position:absolute;
  left:166px;
  top:38px;
  width:80px;
  height:17px;
  color:#FF0000;
  text-align:right;
}
#u68_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:18px;
}
#u69 {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  word-wrap:break-word;
}
#u70 {
  position:absolute;
  left:250px;
  top:35px;
  width:120px;
  height:20px;
}
#u70_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:21px;
}
#u71 {
  position:absolute;
  left:2px;
  top:2px;
  width:116px;
  visibility:hidden;
  word-wrap:break-word;
}
#u70_ann {
  position:absolute;
  left:363px;
  top:31px;
  width:1px;
  height:1px;
}
#u2_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:261px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:1072px;
  height:261px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
